<div #dropdown class="dropdown">
    <div *ngIf="!circle" class="ytcp-button buttons" (click)="showDropdown()">
        <span *ngIf="iconRight" class="material-symbols-outlined non-selectable" [style.font-variation-settings]="fillIcon? FILL_ICON: EMPTY_FILL_ICON">{{iconLeft}}</span>
        <button>
            <b>{{buttonText}}</b>
        </button>
        <span *ngIf="iconRight" class="material-symbols-outlined non-selectable" 
            [ngClass]="{'caret-rotate': toggleDropdown}"
            [style.font-variation-settings]="fillIcon? FILL_ICON: EMPTY_FILL_ICON">{{iconRight}}
        </span>
    </div>
    <div *ngIf="circle" class="round-button" [ngStyle]="{'padding': imageSrc? '0' : '10px'}" (click)="showDropdown()">
        <span class="material-symbols-outlined" *ngIf="icon && icon !== ''" [style.font-variation-settings]="fillIcon? FILL_ICON: EMPTY_FILL_ICON">{{icon}}</span>
        <div class="img-icon" *ngIf="imageSrc">
            <img class="img-icon" [src]="imageSrc" alt=""/>
        </div>
    </div>
    <div class="dropdown-content">
        <div class="base-menu-container" *ngIf="!showSubMenu">
            <!-- Base menu -->
            <ul class="menu" [ngClass]="{'menu-open': toggleDropdown}" [ngStyle]="{'min-width': minWidth? minWidth: '18em'}">
                <!--header-->
                <li class="header" *ngIf="isHeader && headerTemplate">
                    <ng-container [ngTemplateOutlet]="headerTemplate"></ng-container>
                </li>
                <!--body-->
                <li class="list-element selectable" (click)="item.action(parentId, childId); onShowSubMenu(item)" *ngFor="let item of items">
                    <div class="left-item">
                        <div *ngIf="item.icon" class="right-icon"><span class="material-symbols-outlined">{{item.icon}}</span></div>
                        <div class="text text-small">{{item.text}}</div>
                    </div>
                    <div class="text" *ngIf="item.subMenu">
                        <ng-container *ngFor="let subItem of item.subMenu">
                            <ng-container *ngIf="subItem.isSelected && item.subMenu[0].isSelect">
                                <span class="text-small"> ({{subItem.text}})</span>
                                <span class="material-symbols-outlined">chevron_right</span>
                            </ng-container>
                        </ng-container>
                        <ng-container *ngIf="!item.subMenu[0].isSelect">
                            <span class="material-symbols-outlined">chevron_right</span>
                        </ng-container>
                    </div>
                    <div *ngIf="item.divider" class="divider"></div>
                </li>
            </ul>
        </div>
        <div class="sub-menu-container" *ngIf="showSubMenu">
            <!-- sub menu -->
            <ul class="sub-menu" [ngClass]="{'menu-open': toggleSubMenuDropdown}" [ngStyle]="{'min-width': minWidth? minWidth: '18em'}">
                <li class="list-element submenu-title-container">
                    <div class="divider submenu-title" (click)="onCloseSubMenu()">
                        <button class="submenu-title-return-btn">
                            <span class="material-symbols-outlined">arrow_back</span>
                        </button>
                        <span>{{currentMenu.text}}</span>
                    </div>
                </li>
                <li class="list-element selectable" (click)="onChangeSubMenuSelection(submenuItem)" *ngFor="let submenuItem of currentMenu.subMenu">
                    <div class="sub-item-template" *ngIf="submenuItem.template">
                        <ng-container [ngTemplateOutlet]="submenuItem.template"></ng-container>
                    </div>
                    
                    <div class="left-item" *ngIf="!submenuItem.template">
                        <!--if no submenu icon is provided default is check -->
                        <div *ngIf="!submenuItem.icon && !submenuItem.isSelected" class="right-icon"></div>
                        <div *ngIf="!submenuItem.icon && submenuItem.isSelected" class="right-icon"><span class="material-symbols-outlined">done</span></div>
                        <div class="right-icon" *ngIf="submenuItem.icon"><span class="material-symbols-outlined">{{submenuItem.icon}}</span></div>
                        <div class="text text-small">{{submenuItem.text}}</div>
                    </div>
                </li>
            </ul>
        </div>

    </div>

</div>