<div class="dashboard-container">
  <div class="dashboard-title">
    <p>Channel dashboard</p>
  </div>
  <div class="cards">
    <div class="cards-right">
      <div class="upload-card-container">
        <div class="upload-card">
          <div class="avatar-container">
            <div class="avatar">
              <img src="../../../assets/graphics/upload.svg" alt="">
            </div>
          </div>
          <div class="upload-section">
            <div class="upload-section__text">
              <p class="text-secondary">Upload and publish a video to get started.</p>
            </div>
            <div class="upload-section__button">
              <button class="ytcp-button" (click)="showModal()">UPLOAD VIDEOS</button>
            </div>
          </div>
        </div>
      </div>
      
    </div>
    <div class="cards-left">
      <p>sasa</p>
    </div>
  </div>
</div>

<!---->
<app-metadata-modal
    [isShowModal]="isShowModal"
    [showVideoDetailSteps]="false"
    (modalVisibility)="showModalUpdateEvent($event)">
</app-metadata-modal>