.dashboard-container {
    width: 100%;
    height: 100%;
    padding: 20px;
}

.dashboard-title {
    height: fit-content;
    margin-bottom: 10px;
    padding-left: 10px;
}

.dashboard-title p {
    font-size: 25px;
    font-weight: 500;
    height: fit-content;
}

.cards {
    display: flex;
    height: 95%;
}

.cards-right {
    min-width: 300px;
    max-width: 500px;
    width: 430px;
    border-radius: 10px;
    padding: 10px;
}

.cards-left {
    min-width: 300px;
    max-width: 500px;
    width: 430px;
    border-radius: 10px;
    padding: 10px;
}

.upload-card-container {
    width: 392px;
    height: 499px;
    padding: 10px;
    border: 0.6px solid grey;
    border-radius: 6px;
    background-color: rgba(40, 40, 40, 1);
}

.upload-card {
    width: 100%;
    height: 100%;
    border: .6px dashed grey;
}

.avatar-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50%;
    padding-top: 100px;
    margin-bottom: 10px;
}

.avatar {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 165px;
    height: 165px;
    border-radius: 50%;
}

.avatar img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.upload-section {
    display: block;
    height: fit-content;
}

.upload-section__text, .upload-section__button {
    display: flex;
    justify-content: center;
    align-items: center;
}

.upload-section__text {
    margin-bottom: 20px;
}

.upload-section__text p {
    font-size: .7rem;
}

.upload-section__button button {
    height: 40px;
    border-radius: 4px;
    color: black;
    background-color: var(--yt-color-blue);
}