.channel {
    display: block;
}

.banner {
    background-color: coral;
    min-height: 200px;
    max-height: 300px;
}

.channel-info {
    display: flex;
    padding: 0 100px 0 100px;
    background-color: aquamarine;
}
