<div class="channel">
    <div class="banner-container">
        <img class="banner-img" *ngIf="user" [src]="bannerURL" alt=""/>
    </div>
    <div class="channel-content">
        <div class="channel-info" *ngIf="user">
            <div class="channel-icon">
                <img class="banner-img" [src]="user!.profilePicture" alt=""/>
            </div>
            <div class="channel-meta">
                <div class="title-interaction-container">
                    <div class="meta-container">
                        <div class="channel-title-container">
                            <div class="channel-title">
                                {{user!.channelName}}
                            </div>
                            <span *ngIf="isVerified" class="material-symbols-outlined">check_circle</span>
                        </div>
                        <div class="channel-information-container non-selectable" (click)="onMoreInfoClicked()">
                            <span>More about this channel</span>
                            <span class="material-symbols-outlined">chevron_right</span>
                        </div>
                    </div>
                    <div>
                        <app-switch></app-switch>
                        <app-standard-dropdown 
                            [items]="testItems"
                            [iconLeft]="'notifications_active'"
                            [iconRight]="'expand_more'"
                            [buttonText]="subscriptionState">
                        </app-standard-dropdown>
                    </div>
                </div>
                <!--*ngIf="data$ | async as currentUserState"-->
                <div class="channel-meta__meta" *ngIf="user">
                    <div id="id" class="id">
                        @{{user.username}}
                    </div>
                    <div class="subscribes-count">
                        {{subscribeCount}} subscribers
                    </div>
                    <div class="videos-count">
                        {{user.videoCount}} videos
                    </div>
                </div>
            </div>
        </div>
        <div class="nav-bar-container">
            <app-tab [tabs]="tabs"></app-tab>
        </div>
        <div class="sort-buttons">
            <button (click)="onLatestClicked()" class="ytcp-button rounded-btn" [ngClass]="{'active': latestActive}">Latest</button>
            <button (click)="onPopularClicked()" class="ytcp-button rounded-btn" [ngClass]="{'active': popularActive}">Popular</button>
            <button (click)="onOldestClicked()" class="ytcp-button rounded-btn" [ngClass]="{'active': oldestActive}">Oldest</button>
        </div>
    
        <div class="channel-videos-container">
            <div class="video-item" *ngFor="let video of videos">
                <app-video-card-basic 
                    [video]="video"
                    [user]="user" 
                    [default]="false"
                    [loading]="loadingVideos">
                </app-video-card-basic>
            </div>
        </div>
    </div>

</div>

<!-- templates -->
<!--more info modal-->
<!--height of modal 600px   [left]="'50px'"-->
<app-modal *ngIf="isInfoVisible"
  [show]="isInfoVisible"
  [modalWidth]="'500px'"
  [modalHeight]="'650px'"
  [top]="'20%'"
  [headerTemplate]="header"
  [bodyTemplate]="body"
  (isShowUpdateEvent)="showModalUpdateEvent($event)">
</app-modal>

<ng-template #header>
    <h2 class="text-primary modal-title">About</h2>
</ng-template>

<ng-template #body>
  <div class="modal-content-container">
    <!--*ngIf="data$ | async as currentUserState"-->
    <div class="channel__description" *ngIf="user">
        <span>{{user!.description}}</span>
    </div>
    <h2 class="text-primary channel-details-title">Channel details</h2>
    <div class="channel__info-item">
        <span class="material-symbols-outlined">language</span>
        <span class="info clickable">{{serverUrl +'@'+ user.username}}</span>
    </div>
    <div class="channel__info-item">
        <span class="material-symbols-outlined">record_voice_over</span>
        <span class="info">{{'4'}} subscribers</span>
    </div>
    <div class="channel__info-item">
        <span class="material-symbols-outlined">smart_display</span>
        <span class="info">{{user.videoCount}} video</span>
    </div>
    <div class="channel__info-item">
        <span class="material-symbols-outlined">trending_up</span>
        <span class="info">{{'51'}} views</span>
    </div>
    <div class="channel__info-item">
        <span class="material-symbols-outlined">info</span>
        <span class="info">Joined {{user.createdAt | date}}</span>
    </div>
    <div class="channel__info-item">
        <span class="material-symbols-outlined">public</span>
        <span class="info">{{'4'}} subscribers</span>
    </div>
    <div class="channel__info-item">
       <button class="ytcp-button share-btn">
            <span class="material-symbols-outlined">share</span>
            <span>share channel</span>
        </button>
        <button class="ytcp-button share-btn">
            <span class="material-symbols-outlined">flag</span>
            <span>report user</span>
        </button>
    </div>
  </div>
</ng-template>
<!--Template footer -->
<ng-template #footer>
  <div class="modal-footer">
  </div>
</ng-template>