<div class="video-card-basic-container" [ngClass]="{'skeleton': loading, 'xtra-small': size === 'xtra-small', 'small': size === 'small', 'default': size === 'default'}" >
    <div (click)="openVideo()" class="video-container">
        <app-video-mini *ngIf="!loading" [ThumbnailURL]="video.thumbnailURL" [videoURL]="video.videoURL"></app-video-mini>
    </div>
    <div class="video-info-container" *ngIf="size !== 'small'">
        <div class="icon-container" *ngIf="showIcon">
            <img (click)="onChannelInfoClicked(video)" *ngIf="!loading" id="avatar" alt="" class="user-icon" [src]="video.user.iconURL">
            <div class="user-icon" [ngClass]="{'animate-pulse': loading}"></div>
        </div>
        <div id="metadata" class="metadata">
            <div class="video-title-container" [ngClass]="{'animate-pulse': loading}">
                <h3 *ngIf="!loading" class="title text-primary">{{video.title}}</h3>
            </div>

            <div class="secondary-text">
                <p [ngClass]="{'text': loading, 'animate-pulse': loading}"></p>
                <p [ngClass]="{'text': loading, 'animate-pulse': loading}"></p>
                <div (click)="onChannelInfoClicked(video)" class="channel-name">
                    <p *ngIf="!loading">{{video.user.channelName}}</p>
                    <span *ngIf="video.user.verified && !loading" class="material-symbols-outlined">check_circle</span>
                </div>
                <p *ngIf="!loading" class="views">{{video.likeCount}} Views &bull; {{video.createDate}} </p>
            </div>
        </div>
    </div>
</div>