<div class="video-card-basic-container" [ngClass]="{'skeleton': loading, 'xtra-small': size === 'xtra-small', 'small': size === 'small', 'default': size === 'default'}" >
    <div class="video-container" *ngIf="loading"></div>
    <div (click)="openVideo()" class="video-container" *ngIf="!loading">
        <app-video-mini *ngIf="!loading" [videoMetadata]="video" [ThumbnailURL]="video.thumbnailUrl!" [videoURL]="video.gifUrl!"></app-video-mini>
    </div>
    <div class="video-info-container" *ngIf="size !== 'small'">
        <div class="icon-container" *ngIf="showIcon">
            <img (click)="onChannelInfoClicked(video)" *ngIf="!loading" id="avatar" alt="" class="user-icon" [src]="user.profilePicture">
            <div class="user-icon" [ngClass]="{'animate-pulse': loading}"></div>
        </div>
        <div id="metadata" class="metadata">
            <div class="video-title-container" [ngClass]="{'animate-pulse': loading}">
                <h3 *ngIf="!loading" class="title text-primary">{{video.title}}</h3>
            </div>

            <div class="secondary-text">
                <p [ngClass]="{'text': loading, 'animate-pulse': loading}"></p>
                <p [ngClass]="{'text': loading, 'animate-pulse': loading}"></p>
                <div (click)="onChannelInfoClicked(video)" class="channel-name" *ngIf="!loading">
                    <ng-container *ngIf="username">
                        <p *ngIf="!loading || username">{{ channelName }}</p>
                    </ng-container>
                    
                    <ng-container *ngIf="user">
                        <p *ngIf="!loading">{{user.channelName ? user.channelName : username }}</p>
                        <span *ngIf="user.verified && !loading" class="material-symbols-outlined">check_circle</span>
                    </ng-container>
                </div>
                <p *ngIf="!loading" class="views">{{video.likeCount}} Views &bull; {{video.createdAt | datecstm }} </p>
            </div>
        </div>
    </div>
</div>