<div class="list-row-wrapper" [ngStyle]="{'margin-left': sibarWidth==='72px'? '72px' : '0'}">
    <div class="list-container">
        <div (click)="updateHoverType(); openVideo()" class="video-list">
            <!--<a href="">
                <img class="thumbnail" src="../../../assets/batman.jpg">
            </a>-->
            <app-video-mini [ThumbnailURL]="'../../../assets/grand_tourismo.jpg'" [videoURL]="'../../../assets/test-videos/Y2Mate.is - Gran Turismo 5 Opening Montage-6Z1TL_VEEQo-720p-1654232433855.mp4'"></app-video-mini>
            <div class="video-info-container">
                <div>
                    <img id="avatar" class="user-icon" src="../../../assets/goku_god_mode.jpg">
                </div>
                <div id="metadata">
                    <h3><a class="title" href="">Goku VS Moro: Rise of Granola</a></h3>
                    <div class="secondary-text">
                        <p>channel name</p>
                        <p>1k Views &bull; 2 days </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="video-list">
            <a href="">
                <img class="thumbnail" src="../../../assets/mr_wick.jpeg">
            </a>
            <div class="video-info-container">
                <div>
                    <img id="avatar" class="user-icon" src="../../../assets/goku_god_mode.jpg">
                </div>
                <div id="metadata">
                    <h3><a class="title" href="">video Title</a></h3>
                    <div class="secondary-text">
                        <p>channel name</p>
                        <p>1k Views &bull; 2 days </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="video-list">
            <a href="">
                <img class="thumbnail" src="../../../assets/green-lantern.jpg">
            </a>
            <div class="video-info-container">
                <div>
                    <img id="avatar" class="user-icon" src="../../../assets/goku_god_mode.jpg">
                </div>
                <div id="metadata">
                    <h3><a class="title" href="">video Title</a></h3>
                    <div class="secondary-text">
                        <p>channel name</p>
                        <p>1k Views &bull; 2 days </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="video-list">
            <a href="">
                <img class="thumbnail" src="../../../assets/goku.jpg">
            </a>
            <div class="video-info-container">
                <div>
                    <img id="avatar" class="user-icon" src="../../../assets/goku_god_mode.jpg">
                </div>
                <div id="metadata">
                    <h3><a class="title" href="">video Title</a></h3>
                    <div class="secondary-text">
                        <p>channel name</p>
                        <p>1k Views &bull; 2 days </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="list-row-wrapper" [ngStyle]="{'margin-left': sibarWidth==='72px'? '72px' : '0'}">
    <div class="list-container">
        <div class="video-list">
            <a href="">
                <img class="thumbnail" src="../../../assets/goku.jpg">
            </a>
            <div class="video-info-container">
                <div>
                    <img id="avatar" class="user-icon" src="../../../assets/goku_god_mode.jpg">
                </div>
                <div id="metadata">
                    <h3><a class="title" href="">Goku VS Moro: Rise of Granola</a></h3>
                    <div class="secondary-text">
                        <p>channel name</p>
                        <p>1k Views &bull; 2 days </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="video-list">
            <a href="">
                <img class="thumbnail" src="../../../assets/mr_wick.jpeg">
            </a>
            <div class="video-info-container">
                <div>
                    <img id="avatar" class="user-icon" src="../../../assets/goku_god_mode.jpg">
                </div>
                <div id="metadata">
                    <h3><a class="title" href="">video Title</a></h3>
                    <div class="secondary-text">
                        <p>channel name</p>
                        <p>1k Views &bull; 2 days </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="video-list">
            <a href="">
                <img class="thumbnail" src="../../../assets/goku.jpg">
            </a>
            <div class="video-info-container">
                <div>
                    <img id="avatar" class="user-icon" src="../../../assets/goku_god_mode.jpg">
                </div>
                <div id="metadata">
                    <h3><a class="title" href="">video Title</a></h3>
                    <div class="secondary-text">
                        <p>channel name</p>
                        <p>1k Views &bull; 2 days </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="video-list">
            <a href="">
                <img class="thumbnail" src="../../../assets/goku.jpg">
            </a>
            <div class="video-info-container">
                <div>
                    <img id="avatar" class="user-icon" src="../../../assets/goku_god_mode.jpg">
                </div>
                <div id="metadata">
                    <h3><a class="title" href="">video Title</a></h3>
                    <div class="secondary-text">
                        <p>channel name</p>
                        <p>1k Views &bull; 2 days </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--<div class="list-container">
    <div class="video-list">
        <a href="">
            <img class="thumbnail" src="../../../assets/goku.jpg">
        </a>
        <div class="video-info-container">
            <div>
                <img id="avatar" class="user-icon" src="../../../assets/goku_god_mode.jpg">
            </div>
            <div id="metadata">
                <h3><a class="title" href="">Goku VS Moro: Rise of Granola</a></h3>
                <div class="secondary-text">
                    <p>channel name</p>
                    <p>1k Views &bull; 2 days </p>
                </div>
            </div>
        </div>
    </div>
    <div class="video-list">
        <a href="">
            <img class="thumbnail" src="../../../assets/mr_wick.jpeg">
        </a>
        <div class="video-info-container">
            <div>
                <img id="avatar" class="user-icon" src="../../../assets/goku_god_mode.jpg">
            </div>
            <div id="metadata">
                <h3><a class="title" href="">video Title</a></h3>
                <div class="secondary-text">
                    <p>channel name</p>
                    <p>1k Views &bull; 2 days </p>
                </div>
            </div>
        </div>
    </div>
    <div class="video-list">
        <a href="">
            <img class="thumbnail" src="../../../assets/goku.jpg">
        </a>
        <div class="video-info-container">
            <div>
                <img id="avatar" class="user-icon" src="../../../assets/goku_god_mode.jpg">
            </div>
            <div id="metadata">
                <h3><a class="title" href="">video Title</a></h3>
                <div class="secondary-text">
                    <p>channel name</p>
                    <p>1k Views &bull; 2 days </p>
                </div>
            </div>
        </div>
    </div>
    <div class="video-list">
        <a href="">
            <img class="thumbnail" src="../../../assets/goku.jpg">
        </a>
        <div class="video-info-container">
            <div>
                <img id="avatar" class="user-icon" src="../../../assets/goku_god_mode.jpg">
            </div>
            <div id="metadata">
                <h3><a class="title" href="">video Title</a></h3>
                <div class="secondary-text">
                    <p>channel name</p>
                    <p>1k Views &bull; 2 days </p>
                </div>
            </div>
        </div>
    </div>
    <div class="video-list">
        <a href="">
            <img class="thumbnail" src="../../../assets/goku.jpg">
        </a>
        <div class="video-info-container">
            <div>
                <img id="avatar" class="user-icon" src="../../../assets/goku_god_mode.jpg">
            </div>
            <div id="metadata">
                <h3><a class="title" href="">video Title</a></h3>
                <div class="secondary-text">
                    <p>channel name</p>
                    <p>1k Views &bull; 2 days </p>
                </div>
            </div>
        </div>
    </div>
    <div class="video-list">
        <a href="">
            <img class="thumbnail" src="../../../assets/goku.jpg">
        </a>
        <div class="video-info-container">
            <div>
                <img id="avatar" class="user-icon" src="../../../assets/goku_god_mode.jpg">
            </div>
            <div id="metadata">
                <h3><a class="title" href="">video Title</a></h3>
                <div class="secondary-text">
                    <p>channel name</p>
                    <p>1k Views &bull; 2 days </p>
                </div>
            </div>
        </div>
    </div>
    <div class="video-list">
        <a href="">
            <img class="thumbnail" src="../../../assets/goku.jpg">
        </a>
        <div class="video-info-container">
            <div>
                <img id="avatar" class="user-icon" src="../../../assets/goku_god_mode.jpg">
            </div>
            <div id="metadata">
                <h3><a class="title" href="">video Title</a></h3>
                <div class="secondary-text">
                    <p>channel name</p>
                    <p>1k Views &bull; 2 days </p>
                </div>
            </div>
        </div>
    </div>
    <div class="video-list">
        <a href="">
            <img class="thumbnail" src="../../../assets/goku.jpg">
        </a>
        <div class="video-info-container">
            <div>
                <img id="avatar" class="user-icon" src="../../../assets/goku_god_mode.jpg">
            </div>
            <div id="metadata">
                <h3><a class="title" href="">video Title</a></h3>
                <div class="secondary-text">
                    <p>channel name</p>
                    <p>1k Views &bull; 2 days </p>
                </div>
            </div>
        </div>
    </div>
    <div class="video-list">
        <a href="">
            <img class="thumbnail" src="../../../assets/goku.jpg">
        </a>
        <div class="video-info-container">
            <div>
                <img id="avatar" class="user-icon" src="../../../assets/goku_god_mode.jpg">
            </div>
            <div id="metadata">
                <h3><a class="title" href="">video Title</a></h3>
                <div class="secondary-text">
                    <p>channel name</p>
                    <p>1k Views &bull; 2 days </p>
                </div>
            </div>
        </div>
    </div>
    <div class="video-list">
        <a href="">
            <img class="thumbnail" src="../../../assets/goku.jpg">
        </a>
        <div class="video-info-container">
            <div>
                <img id="avatar" class="user-icon" src="../../../assets/goku_god_mode.jpg">
            </div>
            <div id="metadata">
                <h3><a class="title" href="">video Title</a></h3>
                <div class="secondary-text">
                    <p>channel name</p>
                    <p>1k Views &bull; 2 days </p>
                </div>
            </div>
        </div>
    </div>
    <div class="video-list">
        <a href="">
            <img class="thumbnail" src="../../../assets/goku.jpg">
        </a>
        <div class="video-info-container">
            <div>
                <img id="avatar" class="user-icon" src="../../../assets/goku_god_mode.jpg">
            </div>
            <div id="metadata">
                <h3><a class="title" href="">video Title</a></h3>
                <div class="secondary-text">
                    <p>channel name</p>
                    <p>1k Views &bull; 2 days </p>
                </div>
            </div>
        </div>
    </div>
    <div class="video-list">
        <a href="">
            <img class="thumbnail" src="../../../assets/mr_wick.jpeg">
        </a>
        <div class="video-info-container">
            <div>
                <img id="avatar" class="user-icon" src="../../../assets/goku_god_mode.jpg">
            </div>
            <div id="metadata">
                <h3><a class="title" href="">video Title</a></h3>
                <div class="secondary-text">
                    <p>channel name</p>
                    <p>1k Views &bull; 2 days </p>
                </div>
            </div>
        </div>
    </div>
    <div class="video-list">
        <a href="">
            <img class="thumbnail" src="../../../assets/mr_wick.jpeg">
        </a>
        <div class="video-info-container">
            <div>
                <img id="avatar" class="user-icon" src="../../../assets/goku_god_mode.jpg">
            </div>
            <div id="metadata">
                <h3><a class="title" href="">video Title</a></h3>
                <div class="secondary-text">
                    <p>channel name</p>
                    <p>1k Views &bull; 2 days </p>
                </div>
            </div>
        </div>
    </div>
    <div class="video-list">
        <a href="">
            <img class="thumbnail" src="../../../assets/mr_wick.jpeg">
        </a>
        <div class="video-info-container">
            <div>
                <img id="avatar" class="user-icon" src="../../../assets/goku_god_mode.jpg">
            </div>
            <div id="metadata">
                <h3><a class="title" href="">video Title</a></h3>
                <div class="secondary-text">
                    <p>channel name</p>
                    <p>1k Views &bull; 2 days </p>
                </div>
            </div>
        </div>
    </div>
    <div class="video-list">
        <a href="">
            <img class="thumbnail" src="../../../assets/mr_wick.jpeg">
        </a>
        <div class="video-info-container">
            <div>
                <img id="avatar" class="user-icon" src="../../../assets/goku_god_mode.jpg">
            </div>
            <div id="metadata">
                <h3><a class="title" href="">video Title</a></h3>
                <div class="secondary-text">
                    <p>channel name</p>
                    <p>1k Views &bull; 2 days </p>
                </div>
            </div>
        </div>
    </div>
</div>-->