<div class="thumbnail-container" [ngStyle]="{'height': height}">
    <div class="thumbnail">
      <img class="image-thumbnail" [src]="ThumbnailURL" alt=""/>
    </div>
    <!-- on hover thumbnail div -->
    <div class="thumbnail thumbnail-transition">
        <div class="video-controls-container">
            <div class="controls">

            </div>
        </div>
        <video #video class=""  alt="" (mouseenter)="onMouseEnter()" (mouseleave)="onMouseLeave()">
            <source [src]="videoURL">
        </video> 
      <!--<img [src]="VIDEO_URL" alt="" [ngStyle]="{'margin-right': '10px'}"/>
      <p>PLAY ALL</p>-->
    </div>
</div>