.thumbnail-container {
    height: 200px;
    //height: 100%;
    min-height: 100px;
    max-height: 250px;
    position: relative;
    //min-width: 300px;
    //margin-bottom: 20px;
    //background-color: purple;
}

.thumbnail {
    /* Set the dimensions of the container */
    max-height: 250px;
    //min-width: 300px;
    width: 100%;
    //margin-bottom: 14px;
    /* Center the image inside the container */
    object-fit: cover;
    border-radius: 4px;
}

.thumbnail-transition {
    display: flex;
    position: absolute;
    top: 0;
    opacity: 0;
    transition: opacity 0.4s ease-in;
    align-items: center;
    justify-content: center;
    background-color: black;
}

.thumbnail-transition:hover {
    opacity: 1;
}

.video {
    
}