<div class="container content no-padding" [ngStyle]="{'border': '2px solid white'}">
    <app-header (showSideBar)="toggleSidebar($event)"></app-header>
    <div class="container no-padding" [ngStyle]="{'border': '2px solid purple', 'margin-right': '400px', 'padding':'0'}">
        <app-side-panel 
            [collapse]="sidebarOpen"
            [sections]="sideMenuOptions"
            [showUserIcon]="showUserIcon">
        </app-side-panel>
        <!--TODO (FIX media queries for frame body size) -->

        <!--, 'border': '2.5px solid yellow'-->
        <div *ngIf="sidebarType === 'side'" class="container content-fill-available no-padding" [ngStyle]="{'max-width': sidebarOpen?  'calc(var(--view-port) - 100px)' : 'calc(var(--view-port) - 264px)', 'margin-left': sidebarOpen? '76px' : '242px'}">
            <router-outlet></router-outlet>
        </div>

        <div *ngIf="sidebarType === 'hover'" class="container content-fill-available no-padding" [ngStyle]="{'border': '2.5px solid pink'}">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>