.content-fill-available {   
    //position: fixed;
    position: relative;
    overflow-y: scroll;
    overflow-x: hidden;
    height: calc( 100% - 65px );
    top: 65px;
}

.hover-panel {
    margin-right: 200px
}

/*.no-padding {
    padding: 0;
}*/