<div class="container view-container" [ngStyle]="{ 'max-width': collapsedSideBar? 'calc(var(--view-port) - calc('+sidebarWidth+' + 40px))' : 'calc(var(--view-port) - calc('+sidebarWidth+' + 38px))'}">
    <div class="left-container">
        <app-playlist-metadata [thumbnail]="thumbnail"></app-playlist-metadata>
    </div> <!--110px 276px-->
    <div class="right-container">
        <app-drag-drop-list 
            [items]="videos"
            (onListUpdate)="onListUpdate($event)">
        </app-drag-drop-list>
    </div>
</div>
