<div id="watch-container" #watchContainer class="watch-container blur-bg">

    <div class="main-content-container">
        <div #bgColorBlur class="bg-color-blur"></div>
        <div #videoContainer class="video-container" [ngClass]="{'expanded': isCinemaMode}">
            <app-video></app-video>
        </div>
        <div #recommendationContainer class="recommendations-container">
            <div class="recommended-video" *ngFor="let video of videos">
                <app-video-card></app-video-card>
            </div>
            <p>tttttt</p>
            <p>tttttt</p>
            <p>tttttt</p>
            <p>tttttt</p>
            <p>tttttt</p>
            <p>tttttt</p>
            <p>tttttt</p>
            <p>tttttt</p>
            <p>tttttt</p>
            <p>tttttt</p>
            <p>tttttt</p>

            <p>tttttt</p>
            <p>tttttt</p>
            <p>tttttt</p>
            <p>tttttt</p>
        </div>
        <div #interactionContainer class="interactions-container">
            <div class="metadata">
                <div id="title" class="title">
                    <h1 class="text-primary">Grand Tourismo 5 : opening intro</h1>
                </div>
                <div class="top-description-container">
                    <div id="top-row" class="description_metadata">
                        <div (click)="onChannelIconClicked()" class="user-icon-container">
                            <img class="user-icon" src="../../../assets/goku_god_mode.jpg">
                        </div>
                        <div class="upload-info">
                            <div class="channel-title">{{channelName}}</div>
                            <div class="text-secondary sub-count">194K subcribers</div>
                        </div>
                    </div>
                    <div class="action-buttons">
                        <div class="ytcp-button subscribe-button">Subscribe</div>
                        <div class="interactive-buttons">
                            <div class="ytcp-button like">Like</div>
                            <div class="ytcp-button dislike">Dislike</div>
                            <div class="ytcp-button share">Share</div>
                            <div class="ytcp-button save">save</div>
                        </div>
                    </div>
                </div>
                <div class="metadata-container">
                    <app-video-description></app-video-description>
                </div>
            </div>
        </div>
    </div>

</div>
