<div id="watch-container" #watchContainer class="watch-container blur-bg">
    <div class="main-content-container">
        <div #bgColorBlur class="bg-color-blur"></div>
        <div #videoContainer class="video-container" [ngClass]="{'expanded': isCinemaMode}">
            <app-video></app-video>
        </div>
        
        <div #recommendationContainer class="recommendations-container">
            <app-embedded-playlist></app-embedded-playlist>

            <!--<div class="recommendations-container__embedded-playlist">
            </div>-->
            <div class="recommended-video" *ngFor="let video of videos">
                <app-video-card
                    [showActions]="true"
                    [size]="videoCardSize">
                </app-video-card>
            </div>
        </div>
        <div #interactionContainer class="interactions-container" [ngStyle]="{'width': videoContainerWidth}">
            <div class="metadata">
                <div id="title" class="title">
                    <h1 class="text-primary">Grand Tourismo 5 : opening intro</h1>
                </div>
                <div class="top-description-container">
                    <div id="top-row" class="description_metadata">
                        <div (click)="onChannelIconClicked()" class="user-icon-container">
                            <img class="user-icon" src="../../../assets/goku_god_mode.jpg">
                        </div>
                        <div class="upload-info">
                            <div class="channel-title">{{channelName}}</div>
                            <div class="text-secondary sub-count">194K subcribers</div>
                        </div>
                    </div>
                    <div class="action-buttons">
                        <div class="ytcp-button subscribe-button">Subscribe</div>
                        <div class="interactive-buttons">
                            <div class="like">
                                <div class="ytcp-button like-btn" [appTooltip]="'Like'">
                                    <span class="material-symbols-outlined non-selectable">thumb_up</span>
                                    <span class="non-selectable">120K</span>
                                </div>
                                <div class="ytcp-button dislike-btn" [appTooltip]="'Dislike'">
                                    <span class="material-symbols-outlined non-selectable">thumb_down</span>
                                </div>
                            </div>
                            <!--<div class="ytcp-button dislike">Dislike</div>-->
                            <div class="ytcp-button share" [appTooltip]="'Share'">
                                <span class="material-symbols-outlined non-selectable">share</span>
                                <span>Share</span>
                            </div>
                            <div class="ytcp-button save" [appTooltip]="'Save'">
                                <span class="material-symbols-outlined non-selectable">playlist_add</span>
                                <span>Save</span>
                            </div>
                            <div class="ytcp-button download">
                                <span class="material-symbols-outlined non-selectable">download</span>
                                <span>Download</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="metadata-container">
                    <app-video-description></app-video-description>
                </div>
                <div class="comment-section">
                    <div class="meta-and-actions">
                        <div class="comments-count">
                            <span class="text">2000 comments</span>
                        </div>
                        <div class="sort-button">
                            <app-standard-dropdown 
                                [items]="sortOptions"
                                [iconLeft]="'sort'"
                                [iconRight]="'expand_more'"
                                [buttonText]="SORT_BUTTON_TEXT"
                                [minWidth]="'10em'">
                            </app-standard-dropdown>
                        </div>
                    </div>
                    <div class="comments-container">
                        <app-comments-holder 
                            [comments]="comments"
                        >    
                        </app-comments-holder>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
