<div id="watch-container" #watchContainer class="watch-container blur-bg">
    <div #bgColorBlur class="bg-color-blur"></div>
    <div class="main-content-container">
        <!--<div #bgColorBlur class="bg-color-blur"></div>-->
        <div #videoContainer class="video-container" [ngClass]="{'expanded': isCinemaMode}">
            <app-video [manifestHlsUrl]="manifestMpdUrl" [manifestMpdUrl]="manifestHlsUrl"></app-video>
        </div>
        
        <div #recommendationContainer class="recommendations-container">
            <app-embedded-playlist></app-embedded-playlist>

            <!--<div class="recommendations-container__embedded-playlist">
            </div>-->
            <div class="recommended-video" *ngFor="let video of videos">
                <app-video-card
                    [showActions]="true"
                    [size]="videoCardSize">
                </app-video-card>
            </div>
        </div>
        <div #interactionContainer class="interactions-container" [ngStyle]="{'width': videoContainerWidth}">
            <div class="metadata">
                <div id="title" class="title" [ngClass]="{'skeleton_': loadingMetadata, 'animate-pulse': loadingMetadata}">
                    <h1 class="text-primary">{{metadata? metadata.title : ''}}</h1>
                </div>
                <div class="top-description-container">
                    <div id="top-row" class="description_metadata">
                        <div (click)="onChannelIconClicked()" class="user-icon-container" [ngClass]="{'skeleton_': loadingUserInfo, 'animate-pulse': loadingUserInfo}">
                            <img class="user-icon" *ngIf="!loadingUserInfo" [src]="user.profilePicture" alt="">
                        </div>
                        <div class="upload-info" [ngClass]="{'skeleton_': loadingUserInfo}">
                            <div class="channel-title" [ngClass]="{'skeleton_': loadingUserInfo, 'animate-pulse': loadingUserInfo}">{{user? user.channelName : ''}}</div>
                            <div class="text-secondary sub-count" [ngClass]="{'skeleton_': loadingUserInfo, 'animate-pulse': loadingUserInfo}"><p>{{user? '194K subcribers': ''}}</p></div>
                        </div>
                    </div>
                    <div class="action-buttons">
                        <div class="ytcp-button subscribe-button">Subscribe</div>
                        <div class="interactive-buttons">
                            <div class="like">
                                <div class="ytcp-button like-btn" [appTooltip]="'Like'">
                                    <span class="material-symbols-outlined non-selectable">thumb_up</span>
                                    <span class="non-selectable">120K</span>
                                </div>
                                <div class="ytcp-button dislike-btn" [appTooltip]="'Dislike'">
                                    <span class="material-symbols-outlined non-selectable">thumb_down</span>
                                </div>
                            </div>
                            <div class="ytcp-button share" [appTooltip]="'Share'">
                                <span class="material-symbols-outlined non-selectable">share</span>
                                <span>Share</span>
                            </div>
                            <div class="ytcp-button save" [appTooltip]="'Save'">
                                <span class="material-symbols-outlined non-selectable">playlist_add</span>
                                <span>Save</span>
                            </div>
                            <div class="ytcp-button download">
                                <span class="material-symbols-outlined non-selectable">download</span>
                                <span>Download</span>
                            </div>
                            <div class="ytcp-button download" (click)="report($event)">
                                <span appSpinner [showSpinner]="true"></span>
                                <span class="material-symbols-outlined non-selectable">flag</span>
                                <span>Report</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="metadata-container">
                    <app-video-description [metadata]="metadata"></app-video-description>
                </div>
                <div class="comment-section">
                    <div class="meta-and-actions">
                        <div class="comments-count">
                            <span class="text">2000 comments</span>
                        </div>
                        <div class="sort-button">
                            <app-standard-dropdown 
                                [items]="sortOptions"
                                [iconLeft]="'sort'"
                                [iconRight]="'expand_more'"
                                [buttonText]="SORT_BUTTON_TEXT"
                                [minWidth]="'10em'">
                            </app-standard-dropdown>
                        </div>
                    </div>
                    <div class="comments-container">
                        <app-comments-holder 
                            [comments]="comments"
                        >    
                        </app-comments-holder>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>


<!-- templates -->
<app-modal *ngIf="isReportModalVisible"
  [show]="isReportModalVisible"
  [modalWidth]="'490px'"
  [modalHeight]="!(reportStep > 0)? '700px' : 'fit-content'"
  [bodyHeight]="'70%'"
  [top]="'10%'"
  [headerTemplate]="header"
  [bodyTemplate]="body"
  [footerTemplate]="footer"
  (isShowUpdateEvent)="showReportModalEvent($event)">
</app-modal>

<ng-template #header>
    <h2 class="text-primary modal-title" *ngIf="reportStep < 2"> Report {{'Video'}}</h2>
    <h2 class="text-primary modal-title" *ngIf="reportStep === 2">Thanks for reporting</h2>
</ng-template>

<ng-template #body>
  <div class="report-modal-content-container">
    <app-report
        [step]="reportStep"
        (onSelectedType)="onSelectedReportType($event)">
    </app-report>
  </div>
</ng-template>
<!--Template footer -->
<ng-template #footer>
    <div class="report-modal-footer-container">
        <div class="report-description">
            <span class="text-secondary" *ngIf="reportStep < 2">Flagged videos and users are reviewed by YouTube staff 24 hours a day, seven days a week to determine whether they violate Community Guidelines. Accounts are penalised for Community Guidelines violations, and serious or repeated violations can lead to account termination.</span>
            <span class="text-secondary" *ngIf="reportStep === 2">If we find this content to be in violation of our Community Guidelines, we will remove it.</span>
        </div>    
        <div class="report-modal-footer">
            <button class="text-primary report-cancel-btn" (click)="onCancelReporting()" *ngIf="reportStep < 2">Cancel</button>
            <button class="text-primary report-next-btn" 
                [disabled]="!canShowNext" *ngIf="reportStep < 1"
                (click)="onNextClicked()" 
                [ngClass]="{'active': canShowNext}">
                    Next
            </button>
            <button class="text-primary report-next-btn" 
                [disabled]="!canShowNext" *ngIf="reportStep === 1"
                (click)="onNextClicked()" 
                [ngClass]="{'active': canShowNext}">
                    Report
            </button>
            <button class="text-primary report-next-btn" 
            [disabled]="!canShowNext" *ngIf="reportStep === 2"
            (click)="onCancelReporting()" 
            [ngClass]="{'active': canShowNext}">
                    Close
            </button>
        </div>
    </div>
</ng-template>