*::before, *::after {
    box-sizing: border-box;
}

.video-container {
    position: relative;
    //width: 90%;
    width: 100%;
    height: 100%;
    //padding-bottom: 10px;
    //height: fit-content;
    max-width: 1400px;
    max-height: 650px;
    background-color: black;//change this color later
    display: flex;
    justify-content: center;
    //margin-inline: auto;
}

.video-container.theater,
.video-container.full-screen {
    max-width: initial;
    width: 100%;
}

.video-container.theater {
    max-height: 70vh;
    //max-height: 95vh;
}

.video-container.full-screen {
    max-height: 100vh;
}

video {
    width: 100%;
}

.video-controls-container {
    position: absolute;
    bottom: 0;
    //top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    height: 50px;
    opacity: 0;
    transition: opacity 150ms ease-in;
}

.video-controls-container::before {
    content: "";//figure out this
    position: absolute;
    bottom: 0;
    background: linear-gradient(to top, rgba(0, 0, .75), transparent);
    width: 100%;
    aspect-ratio: 6 / 1;
    z-index: -1;//show behind everything
    pointer-events: none;//turn-off all pointer events to allow event actions for other elements
}

.video-container:hover .video-controls-container,
.video-container.paused .video-controls-container,
.video-container:focus-within .video-controls-container {
    opacity: 1;
}

.video-controls-container .controls {
    display: flex;
    gap: .5rem;
    padding: .25rem;
    margin-bottom: .25rem;
    align-items: center;
    justify-content: baseline;
}

.video-container.paused .pause-icon {
    display: none;
}

.video-container:not(.paused) .play-icon {
    display: none;
}

.video-container.theater .tall-icon {
    display: none;
}

.video-container:not(.theater) .wide-icon {
    display: none;
}

.video-container.full-screen .open-full-screen-icon {
    display: none;
}

.video-container:not(.full-screen) .close-full-screen-icon {
    display: none;
}

.volume-high-icon,
.volume-low-icon,
.volume-muted-icon {
    display: none;
}

.video-container[data-volume-level="high"] .volume-high-icon {
    display: block;
}

.video-container[data-volume-level="low"] .volume-low-icon {
    display: block;
}

.video-container[data-volume-level="muted"] .volume-muted-icon {
    display: block;
}

.volume-container {
    display: flex;
    align-items: center;
}

.volume-slider {
    display: none;
    transform: scaleX(0);
    transform-origin: left;
    width: 0;
    transition: width .1s ease-in-out, transform 150ms ease-in-out;
}

.volume-container:hover .volume-slider,
.volume-slider:focus-within {
    display: block;
    width: 100%;
    transform: scaleX(1);
    width: var(--volume-slider-width-track);
}

.video-controls-container .controls button {
    height: 30px;
    width: 30px;
    font-size: 1.1rem;
    opacity: .85;
    transition: opacity 150ms ease-in-out;
    color: white;
}

svg path {
    fill: white;
}

.video-controls-container .controls button:hover {
    opacity: 1;
}

.duration-container {
    display: flex;
    align-items: center;
    margin-top: 26px;
    gap: .25rem;
    flex-grow: 1;
}

/**
* Underline caption icon
*/
.captions-container {
    position: relative;
    display: flex;
    align-items: center;
    width: fit-content;
    height: fit-content;
}

.captions-container::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 2px;
    transition: width 0.5s ease-out;
}

.captions-container.captions::after {
    width: 100%;
    background-color: red;
}

//----------------------------------------------------------------

//button {
//    width: 48px;
//    height: 48px;
// }

.timeline-container {
    height: 7px; 
    margin-inline: .5rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    //justify-content: center;
    //margin-bottom: 104px;
}

.timeline {
    background-color: rgba(100, 100, 100, .5);
    height: 3px;
    width: 100%;
    position: relative; //all controls will be positioned absolutely based on this
}

.timeline::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: calc(100% - var(--preview-position) * 100%);
    background-color: rgb(150, 150, 150);//var(--yt-color-red);
    display: none;
}

.timeline::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: calc(100% - var(--progress-position) * 100%);
    background-color: var(--yt-color-red);
    //display: none;
}

.timeline .thumb-indicator {
    --scale: 0;
    position: absolute;
    transform:  translateX(-50%) scale(var(--scale));
    height: 200%;
    top: -50%;
    left: calc(var(--progress-position) * 100%);
    background-color: var(--yt-color-red);
    border-radius: 50%;
    transition: transform 150ms ease-in-out;
    aspect-ratio: 1 / 1;
}

.timeline .preview-img {
    position: absolute;
    height: 80px;
    aspect-ratio: 16 / 9;
    top: -1rem;
    transform: translate(-50%, -100%);//-50% in the x direction to center thumnbnail & 100% in Y set it above position
    left: calc(var(--preview-position) * 100%);
    border-radius: .25rem;
    border: 2px solid white;
    display: none;
    //object-fit: cover;
}

.thumbnail-img {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;
    display: none;
}

.video-container.scrubbing .thumbnail-img {
    display: block;
}

.video-container.scrubbing .preview-img,
.timeline-container:hover .preview-img {
    display: block;
}

.video-container.scrubbing .timeline::before,
.timeline-container:hover .timeline::before {
    display: block;
}

.video-container.scrubbing .thumb-indicator,
.timeline-container:hover .thumb-indicator {
    --scale: 1;
}

.video-container.scrubbing .timeline,
.timeline-container:hover .timeline {
    height: 100%;
}