.chip-input-container {
    display: inline-flex;
    flex-wrap: wrap;
    align-items: center;
    border: 1px solid #ccc;
    padding: 5px;
    border-radius: 5px;
}
.chip {
    display: inline-block;
    background-color: #eee;
    color: #333;
    border-radius: 40px;
    padding: 5px;
    margin-right: 5px;
    margin-top: 5px;
    float: left;
}
input {
    border: none;
    outline: none;
    flex: 1;
    //margin-right: 5px;
}
