.view-container {
    position: fixed;
    height: calc( 100% - 45px );
    margin: 0;
    margin-top: 20px;
    padding: 0;
    display: flex;
    justify-content: space-between;
}

.left-container {
    width: 26%;
}

.right-container {
    display: block;
    padding: 0 10px;
    //padding-top: 10px;
    //padding-left: 10px; //10px;
    //padding-right: 0;
    width: 74%;
    height: auto;
    overflow: scroll;
}

