.modal-size {
    border-radius: 5px;
    //width: 70%;
    //height: 80%;
}

.model-content {
    font-family: "Roboto","Noto",sans-serif;
    width: auto;
    display: block;
    height: 550px;
}

.disclaimer {
    font-family: "Roboto","Noto",sans-serif;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    letter-spacing: 0.011em;
    font-size: 12px;
    line-height: 16px;
    text-align: center;
    line-height: 24px;
    height: fit-content;
}
/*.large-Modal .modal-dialog{
    height: 400px;
    width:400px; 
    margin: auto;
    position: absolute;
    top:0;
    right: 0;
    bottom: 0;
    left: 0;
}*/
  