<header>
    <nav class="header container">
        <div id="start">
            <div class="burger">  
                <button (click)="toggleSideBar()" class="ytcp-button round-button">
                    <img class="burger-img" alt="" [src]="ICON_BURGER"/>
                </button>
            </div>
            <div class="production-name">
                {{environemntName}}
            </div>
            <div class="yt-icon-container" [appTooltip]="'Home page'" [routerLink]="'/'">
                <img class="yt-icon burger-img yt-logo" alt="" [src]="ICON_YOUTUBE"/>
            </div>
        </div>
        <div id="center">
            <div class="search-container">
                <div class="search-item-container">
                    <div class="center-container search-box" *ngIf="showSearchBar">
                        <div class="row">
                            <input class="search-input" [innerText]="searchString" (ngModelChange)="onSearchStringUpdate($event)" [(ngModel)]="searchString"  type="text" id="input-box" placeholder="Search" autocomplete="off">
                        </div>
                    </div>
                    <button (click)="search(searchString, 'button')"><span class="material-symbols-outlined ytcp-button search-button">search</span></button>
                </div>
                <div class="result-box" [ngStyle]="{'display': resultBoxDisplay}">
                    <ul>
                        <li *ngFor="let result of searchResults" (click)="search(result.text, 'results')">
                            <div class="result">
                                <span class="material-symbols-outlined non-selectable">search</span>
                                <span class="result-text non-selectable">{{result.text}}</span>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div id="end">
            <ng-container *ngIf="(data$ | async) as authData">
                <div class="end-icons">
                    <button class="ytcp-button round-button">
                        <span class="material-symbols-outlined">Notifications</span>
                    </button>
                    <button class="ytcp-button round-button" (click)="addVideoButtonClicked()">
                        <span class="material-symbols-outlined">video_call</span>
                    </button>
                    <app-standard-dropdown
                        [circle]="true"
                        [imageSrc]="authData.currentUser?.profilePicture!"
                        [isHeader]="true"
                        [headerTemplate]="dropdownHeaderTemplate"
                        [items]="iconDropdown">
                    </app-standard-dropdown>
                </div>
            </ng-container>
        </div>
    </nav>
</header>


<!-- user icon dropdow title template -->
<ng-template #dropdownHeaderTemplate>
    <ng-container *ngIf="(data$ | async) as authData">
        <div class="header__container">
            <div class="icon-container">
                <img [src]="authData.currentUser?.profilePicture" alt=""/>
            </div>
            <div class="username-container">
                <p class="text-primary username">{{authData.currentUser?.channelName}}</p>
                <p class="text-primary channelName">@{{authData.currentUser?.username}}</p>
            </div>
        </div>
    </ng-container>
</ng-template>

<!--user icon dropdown submenu template-->
<ng-template #submenuTemplate>
    <ng-container *ngIf="(data$ | async) as authData">
        <div class="submenu-template-container">
            <div class="submenu__user-info-container">
                <p class="text-primary">{{authData.currentUser?.firstName}}</p>
                <p class="text-secondary">{{authData.currentUser?.email}}</p>
            </div>
            <div class="submenu__channel-info">
                <div class="icon-container">
                    <img [src]="authData.currentUser?.profilePicture" alt=""/>
                </div>
                <div class="submenu-channel-info-container">
                    <h4 class="text-primary submenu-channelName">@{{authData.currentUser?.username}}</h4>
                    <p class="text-secondary submenu-username">{{authData.currentUser?.channelName}}</p>
                    <p class="text-secondary sub-count">10K</p>
                </div>
                <div class="check">
                    <span class="material-symbols-outlined">done</span>
                </div>
            </div>
        </div>
    </ng-container>
</ng-template>