<!---<nz-header></nz-header>-->
<!--<div class="header-container">
    <div class="header-right-buttons-container">
        <button class="header-right-buttons" nz-button nzShape="circle" NzButtonSize="140">
            <span nz-icon nzType="youtube" nzTheme="outline"></span>
        </button>&nbsp;
    </div>    
    <div class="search-bar">
        <nz-input-group *ngIf="showSearchBar" [nzSuffix]="suffixIconSearch">
            <input type="text" nz-input placeholder="Search" />
        </nz-input-group>
        <ng-template #suffixIconSearch>
            <span nz-icon nzType="search"></span>
        </ng-template>
    </div>
    <div class="header-left-buttons-container">
        <button (click)="addVideoButtonClicked()" class="header-left-buttons" nz-button nzShape="circle" nzSize="large" nzType="primary"><span nz-icon nzType="video-camera-add" nzTheme="outline"></span></button>&nbsp;
        <button class="header-left-buttons" nz-button nzShape="circle" nzSize="large" nzType="primary"><span nz-icon nzType="bell" nzTheme="outline"></span></button>&nbsp;
        <nz-avatar nzSize="large" nzIcon="user" [nzSrc]="avatarImage"></nz-avatar>&nbsp;
    </div>
</div>-->
<header>
    <nav class="header container">
        <div id="start">
            <div class="burger">  
                <button (click)="toggleSideBar()" class="ytcp-button round-button">
                    <img class="burger-img" alt="" [src]="ICON_BURGER"/>
                </button>
            </div>
            <div class="yt-icon-container">
                <img class="yt-icon burger-img yt-logo" alt="" [src]="ICON_YOUTUBE"/>
            </div>
        </div>
        <div id="center">
            <div class="center-container" *ngIf="showSearchBar">
                <form class="search-form" action="/search-results">
                    <input [(ngModel)]="searchString" type="text"
                        placeholder="Search"
                        name="search">
                    <button (keyup.enter)="search()" (click)="search()" class="ytcp-button search-button">
                        <img [src]='ICON_SEARCH_LIGHT' alt="" [ngStyle]="{'height': '28px'}"/>
                    </button>
                </form>
            </div>
        </div>
        <div id="end">
            <div class="end-icons">
                <button class="ytcp-button round-button">
                    <span class="material-symbols-outlined">Notifications</span>
                    <!--<img [src]="ICON_BELL" alt=""/>-->
                </button>
                <button class="ytcp-button round-button" (click)="addVideoButtonClicked()">
                    <!--<img [src]="ICON_CAMERA" alt=""/>-->
                    <span class="material-symbols-outlined">video_call</span>
                </button>
                <button class="ytcp-button user-icon-container">
                    <img class="user-icon" [src]="ICON_USER" alt=""/>
                </button>
            </div>
        </div>
    </nav>
</header>
