<header>
    <nav class="header container">
        <div id="start">
            <div class="burger">  
                <button (click)="toggleSideBar()" class="ytcp-button round-button">
                    <img class="burger-img" alt="" [src]="ICON_BURGER"/>
                </button>
            </div>
            <div class="production-name">
                {{environemntName}}
            </div>
            <div class="yt-icon-container">
                <img class="yt-icon burger-img yt-logo" alt="" [src]="ICON_YOUTUBE"/>
            </div>
        </div>
        <div id="center">
            <div class="search-container">
                <div class="search-item-container">
                    <div class="center-container search-box" *ngIf="showSearchBar">
                        <div class="row">
                            <input class="search-input" [innerText]="searchString" (ngModelChange)="onSearchStringUpdate($event)" [(ngModel)]="searchString"  type="text" id="input-box" placeholder="Search" autocomplete="off">
                        </div>
                    </div>
                    <button (click)="search(searchString, 'button')"><span class="material-symbols-outlined ytcp-button search-button">search</span></button>
                </div>
                <div class="result-box" [ngStyle]="{'display': resultBoxDisplay}">
                    <ul>
                        <li *ngFor="let result of searchResults" (click)="search(result.text, 'results')">
                            <div class="result">
                                <span class="material-symbols-outlined non-selectable">search</span>
                                <span class="result-text non-selectable">{{result.text}}</span>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div id="end">
            <div class="end-icons">
                <button class="ytcp-button round-button">
                    <span class="material-symbols-outlined">Notifications</span>
                    <!--<img [src]="ICON_BELL" alt=""/>-->
                </button>
                <button class="ytcp-button round-button" (click)="addVideoButtonClicked()">
                    <!--<img [src]="ICON_CAMERA" alt=""/>-->
                    <span class="material-symbols-outlined">video_call</span>
                </button>
                <button class="ytcp-button user-icon-container">
                    <img class="user-icon" [src]="ICON_USER" alt=""/>
                </button>
            </div>
        </div>
    </nav>
</header>
