<div #draggableContainer class="draggables-container">
    <div cdkDropList class="draggable-list" (cdkDropListDropped)="drop($event)" [cdkDropListData]="items">
        <div class="drag-item" *ngFor="let item of items, let i = index" [attr.data-index]="i" cdkDrag>
            <div class="ytcp-button video-data-container">
                <div class="start" cdkDragHandle>
                    <span class="material-symbols-outlined burger-icon">{{leftIcon}}</span>
                </div>
                <div class="center thumbnail-container">
                    <div class="thumbnail__center" [ngStyle]="{'width': isSmall? '80px':'180px', 'height': isSmall? '80px': '100px'}">
                        <img draggable="false" class="image" alt="" [src]="item.thumbnailURL">
                        <div class="video-length">
                            4:00
                        </div>
                    </div>
                    <div class="metadata__center">
                        <h2 class="text-primary primary-meta" [ngStyle]="{'margin-bottom': '6px'}">{{item.title}}</h2>
                        <p *ngIf="showViews" class="text-secondary">{{item.channelName}} &bull; {{item.viewCount}} views &bull; {{item.postTime}} ago</p>
                        <p *ngIf="!showViews" class="text-secondary">{{item.channelName}}</p>
                    </div>
                </div>
                <div class="end">
                    <app-standard-dropdown [icon]="'more_vert'" [items]="dropDownItems" [circle]="true"></app-standard-dropdown>
                </div>
            </div>
        </div>
    </div>
</div>