<div class="visibilty-container">
    <div class="header-container">
        <h1 class="title">Visibility</h1>
        <p class="subtitle">Choose when to publish and who can see your video</p>
    </div>
    <div class="visibility-selection-container">
        <div class="sub-header-container">
            <h1 class="text-primary sub-header">Save or publish</h1>
            <p class="text-secondary subtitle">Make your video public, unlisted or private</p>
        </div>
        <div class="options">
            <app-radio-group
                [data]="selection"
                (selected)="onRadioBtnClicked($event)">
            </app-radio-group>
        </div>
    </div>
</div>
