.visibilty-container {
    padding: 10px 40px;
}

.header-container {
    margin-bottom: 10px;
}

.title {
    color: white;
    font-size: 1.5rem;
}

.visibility-selection-container {
    width: 535px;
    height: 284px;
    padding: 10px;
    border-radius: 6px;
    border: 1px solid white;
}

.sub-header-container {
    height: fit-content;
    margin-bottom: 10px;
}

.sub-header {
    font-size: 1.2rem;
}

.subtitle {
    font-size: .8rem;
}

.options {
    padding: 0px 20px;
}

//input[type="radio"] {
//    width: 20px;
//    height: 20px;
//}