<!--[ngStyle]="{'height': height}"-->
<div class="thumbnail-container">
    <div class="thumbnail">    
      <img class="image-thumbnail" [src]="ThumbnailURL" alt=""/>
    </div>
    <!-- on hover thumbnail div -->
    <div class="thumbnail thumbnail-transition">
        <div class="video-controls-container">
            <div class="controls">

            </div>
        </div>
        <div class="video-container">
          <video #video class=""  alt="" 
            (mouseenter)="onMouseEnter()" 
            (mouseleave)="onMouseLeave()"
            (timeupdate)="onTimeUpdate()"
            (loadedmetadata)="onLoadedMetadata()">
          </video>
        </div>
    </div>
</div>