.thumbnail-container {
    min-height: 100px;
    max-height: 250px;
    height: 100%;
    position: relative;
    margin-bottom: 20px;
}

.thumbnail {
    /* Set the dimensions of the container */
    max-height: 250px;
    width: 100%;
    height: 100%;
    border-radius: 4px;
}

.thumbnail-transition {
    display: flex;
    position: absolute;
    top: 0;
    opacity: 0;
    transition: opacity 0.4s ease-in;
    align-items: center;
    justify-content: center;
    background-color: black;
}

.thumbnail-transition:hover {
    opacity: 1;
}

.video {
    
}

//.image-thumbnail {
    //height: inherit;
//    object-fit: ;
//}

img {
    object-fit: cover;
    border-radius: 5px;
}