<div class="login-container">
    <form [formGroup]="loginFormGroup" (ngSubmit)="onSubmit()">
        <div class="auth-form-container">
            <h1 class="title">Login</h1>
            <div class="username-container">
                <div class="title-container">
                    <p>Email or Username</p>
                </div>
                <div class="username-text-container">
                    <input type="text" placeholder="username or email" id="username" formControlName="username" autocomplete="off"/>
                </div>
            </div>
            <div class="password-container">
                <div class="title-container">
                    <p>Password</p>
                </div>
                <div class="password-text-container inner-icon">
                    <input class="password-input" #passwordInput placeholder="password" type="password" id="password" formControlName="password"/>
                    <span class="material-symbols-outlined non-selectable" *ngIf="!showPassword" (click)="togglePasswordVisibility(passwordInput)">visibility_off</span>
                    <span class="material-symbols-outlined non-selectable" *ngIf="showPassword" (click)="togglePasswordVisibility(passwordInput)">visibility</span>
                </div>
            </div>
            <div class="submit-btn-container" [ngClass]="{'isSubmitting': (isSubmitting$ | async)}">
                <button type="submit" class="submit-btn" [disabled]="(loginFormGroup.invalid || (isSubmitting$ | async) )">Login</button>
            </div>
            <div class="actions">
                <div class="reset-password">
                    <span class="text-secondary">Forgot password?</span>&nbsp;&nbsp;
                    <a routerLink="/reset/password" class="text-primary"> Reset</a> 
                </div>
                <div class="create-account">
                    <span class="text-secondary">Don't have an account?</span>&nbsp;&nbsp;
                    <a routerLink="/register" class="text-primary"> Sign Up</a> 
                </div>
            </div>
        </div>
    </form>
</div>
