/* The Modal (background) */
.modal {
    position: fixed; /* Stay in place */
    display: block;
    padding-top: 40px; /* Location of the box */
    padding-bottom: 40px;
    top: 0;
    left: 0;
    color: white;
    width: 100%;
    height: 100%;
    min-height: 200px;
    min-width: 960px;
    max-height: 100%;
    overflow: scroll;//hidden;
    background-color: rgba(18, 18, 18, .8);
    z-index: 4;
}
  
/* Modal Content */
.modal-content {
    position: relative;
    background-color: rgba(43, 43, 43 , 1);//edited color opacity
    color: white;
    margin: auto;
    padding: 0;
    border-radius: 8px;
    width: 67%;
    height: 100%;
    overflow-y: scroll;
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.6s;
    animation-name: animatetop;
    animation-duration: 0.6s;
}
  
/* Add Animation */
@-webkit-keyframes animatetop {
    from {top:-300px; left: -300px; bottom: -300px; right: -300px; opacity:0} 
    to {top:0; left: 0; bottom:0; right: 0; opacity:1}
}
  
@keyframes animatetop {
    from {top:-300px; left: -300px; bottom: -300px; right: -300px; opacity:0} 
    to {top:0; left: 0; bottom:0; right: 0; opacity:1}
}

/*@-webkit-keyframes animatetop {
    from {top: 100vh; left: 0; opacity: 0;} // Start from bottom of the viewport 
    to {top: 50vh; left: 0; opacity: 1;} // Settle in the middle vertically 
}

@keyframes animatetop {
    from {top: 100vh; left: 0; opacity: 0;} // Start from bottom of the viewport 
    to {top: 50vh; left: 0; opacity: 1;} // Settle in the middle vertically 
}*/

  
/* The Close Button */
.close {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    float: right;
    height: 40px;
    width: 40px;
    font-size: 28px;
    border-radius: 50%;
    transition: background-color 0.3s ease;
}
  
.close:hover,
.close:focus {
    background-color: grey;//rgba(29, 24, 24, 1);//;
    text-decoration: none;
    cursor: pointer;
}
  
.modal-header {
    padding: 2px 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    //border-bottom: 1px solid grey;
    height: 80px;
}
  
.modal-body {
    padding: 20px 16px;
    padding-top: 0;
    color: white;
    height: 80%;
    overflow-y: scroll;
    overflow-x: hidden;
}
  
.modal-footer {
    display: flex;
    padding: 4px 16px;
    color: white;
    align-items: center;
    height: fit-content;//40px;
    border-top: 2px solid rgba(59, 59, 59, 1);
}