.dropdown {
    position: relative;
    display: inline-block;
    background-color: #1f1f1f;
    //background-color: orange;
    width: 300px;
    
}

.dropdown-content {
    display: none;
    top: 0;
    //min-height: 100px;
    //max-height: 450px;
    min-height: 100px;
    max-height: 450px;  
    width: 100%;  
    height: fit-content;
    padding: 12px 16px;
    border-radius: 4px;
    z-index: 3;
    position: absolute;
    background-color: inherit;
}

.input-container {
    display: flex;
    height: 50px;
    border: 1px solid white;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 10px;
}

.input-container:focus-within {
    border-color: var(--yt-color-blue);
}

.playlist-button {
    display: flex;
    border: 1px solid white;
    height: 40px;
    align-items: center;
    justify-content: space-between;
    border-radius: 4px;
    color: white;
    padding: 10px;
    cursor: pointer;
}

input:focus {
    outline: none;
}

.material-symbols-outlined {
    font-size: 24px;  /* Preferred icon size */
    font-variation-settings:
    'FILL' 1,
    'wght' 100,
    'GRAD' 0,
    'opsz' 48
}

.close-icon,
.search-icon {
    display: none;
    cursor: pointer;
}

.input-container:not(.search) .close-icon {
    display: block;
}

.input-container.search .search-icon {
    display: block;
}

.checkboxes {
    padding: 14px;
    min-height: 100px;
    max-height: 300px;
    overflow-y: scroll;
    overflow-x: hidden;
}

//.dropdown-header {
//    position: fixed;
//}

/* The container */
.container {
    display: none;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 14px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    height: auto;
    min-height: 0;
    border: none;
}
  
  /* Hide the browser's default checkbox */
.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
    outline: none;
    //border: 2px solid turquoise;
}

.checkbox-content {
    display: none;
    height: auto;
    width: 100%;
    //background-color: orange;
}
/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;//25px;
    width: 25px;
    background-color: inherit;//#eee;
    border: 2px solid grey;
    border-radius: 4px;
}

.hide-text-overflow {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
  
  /* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
    background-color: white;//#2196F3;
}
  
  /* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}
  
  /* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
    display: block;
}
  
  /* Style the checkmark/indicator */
.container .checkmark:after {
    left: 8px;
    top: 2px;
    bottom: 4px;
    width: 6px;
    height: 12px;
    margin-bottom: 6px;
    border: solid var(--yt-color-innactive-btn-dark);//white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.footer {
    display: flex;
    border-top: 1px solid grey;
    //background-color: orange;
    height: 70px;
    justify-content: space-between;
    align-items: center;
}

.right__footer,
.left__footer {
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    margin-top: 55px;
}

.right__footer h3,
.left__footer h3 {
    color : var(--yt-color-blue);
}

.left__footer .material-symbols-outlined {
    color : var(--yt-color-blue);
}