<div class="history-container">
    <div class="watched-content">
        <div class="page-title">
            <p>Watch history</p>
        </div>
        <div class="subtitle-day">
            <p>Yesterday</p>
        </div>
        <div class="videos-container">
            <ng-container *ngIf="videoHistory.length > 0">
                <div class="watched-video" *ngFor="let video of videoHistory">
                    <app-video-card
                        [video]="video">
                    </app-video-card>
                </div>
            </ng-container>
        </div> 
    </div>
</div>