.history-container {
    //background-color: palevioletred;
    height: fit-content;
}

.watched-content {
    padding-left: 24%;
    padding-right: 24%;
}

.page-title {
    margin-bottom: 40px;
    height: fit-content;
}

.page-title p {
    color: white;
    font-size: 2.5rem;
    //line-height: 4rem;
    font-weight: 700;
}

.subtitle-day {
    margin-bottom: 20px;
    height: fit-content;
}

.subtitle-day p {
    color: white;
    font-size: 1.5rem;
    //line-height: 4rem;
    font-weight: 700;
}

.watched-video {
    height: fit-content;
    margin-bottom: 10px;
}