<form>
    <label [for]="item.type" class="radio" *ngFor="let item of data">
        <input class="radio__input" [checked]="item!.isActive" (change)="onRadioBtnClicked(item)" type="radio" [id]="item.type" name="options" [value]="item.type">
        <div #radioHalo class="radio__radio-halo">
            <div class="radio__radio"></div>
        </div>
        <div class="label-text-container">
            <h2 class="text-primary radio_header">{{item.type}}</h2>
            <p class="text-secondary radio_description subtitle">
                {{item.description}}
            </p>
        </div>
    </label>
</form>