/* You can add global styles to this file, and also import other style files */
::ng-deep body {
    font-family: "Roboto","Noto",sans-serif;
    -webkit-font-smoothing: antialiased;
}

.upload-video-metadata .dropdown {
    z-index: 9999;
}