::-webkit-scrollbar {
    width: .55em;
}

::-webkit-scrollbar-track {
    background-color: inherit;
    border-radius: 100vw;
    margin-block: .5em;
}

::-webkit-scrollbar-thumb {
    background-color: var(--yt-color-scroll-bar-dark);
    border-radius: 100vw;
    border-left: 200px;
}

//styling sound bar
input[type=range] {
    -webkit-appearance: none;
    background-color: white;
    width: var(--volume-slider-width-track);
    height: 3px;
    border-radius: 20px;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    background-color: white;
    width: var(--volume-slider-width-thumb);
    height: 15px;
    border-radius: 50%;
}

/*input[type="range"]::-moz-range-thumb {
    -webkit-appearance: none;
    background-color: white;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border-color: none;
}*/

/*input[type="range"]::-ms-thumb {
    -webkit-appearance: none;
    background-color: white;
    opacity: 0.5;
    width: 5px;
    height: 5px;
    border-radius: 50%;
}*/

/*input[type="range"]::-webkit-slider-thumb {
    background-color: orange;
}

input[type="range"]::-moz-range-thumb {
    background-color: orange;
}

input[type="range"]::-ms-thumb {
    background-color: blue;
}

::ng-deep input[type="range"] {
    background-color: gray;
    height: 10px;
    border-radius: 5px;
}*/

/*@supports (scrollbar-color: red blue){
    * {
        scrollbar-color: var(--yt-color-scroll-bar-dark) inherit;
        scrollbar-width: 1em;
    }
}*/
:root {
    --frame-body-default-width: 256px;
    --frame-body-grow-width: 90px;
    --video-list-container-padding-left: 0px;
    --video-list-container-padding-right: 0px;

    //--interactions-container-width: 71%;
}

.ytcp-button {
    display: inline-block;
    font-weight: 600;
    text-decoration: none;
    letter-spacing: -0.05em;//-0.05 * element?
    background-color: var(--yt-color-innactive-btn-dark);
    color: var(--yt-spec-text-primary);
    padding: 0.5em 1em;//left right
    cursor: pointer;
    //border-radius: 6px;
    //can add box shadow later

    //add transition on property
    transition: background-color 0.3s;
}

.ytcp-button:hover {
    //transition: ease-in 0.3ms;
    background-color: var(--yt-color-innactive-button-hover);//rgba(39, 39, 39, 1);
}

.container { //TODO: FIX THIS REMOVE ALL PADDING AND MARGINS
    width: 100%;//only used when viewport is shrunk passed @media query
    height: 100%;
    margin-left: 4px;
    margin-right: 4px;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    border: 1px solid red;
}

.user-icon {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    margin: 0;
    object-fit: cover;
}

.image-thumbnail {
    /* Set the object-fit property to contain */
    object-fit: cover;
    /* Set the max-width and max-height of the image to 100% */
    max-width: 100%;
    max-height: 100%;
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

/*.material-symbols-outlined {
    font-size: 24px;  // Preferred icon size //was 29
    display: flex;
    justify-content: center;
    align-items: center;
    font-variation-settings:
    'FILL' 1,
    'wght' 100,
    'GRAD' 0,
    'opsz' 48
}*/

.material-symbols-outlined {
    font-size: 24px;
    font-variation-settings:
    'FILL' 0,
    'wght' 200,
    'GRAD' 0,
    'opsz' 24
}

.text-primary {
    color: var(--yt-spec-text-primary);
    font-weight: bold;
}

.text-secondary {
    color: var(--yt-spec-text-secondary);
}

.round-button {
    padding: 10px;
    background-color: inherit;
    border-radius: 100%;
}

.round-button:hover {
    background-color: var(--yt-color-innactive-button-hover);
}

img {
    height: var(--icons-min-height);//20px;
}

.frame-body {
    max-width: var(--frame-body-grow-width);
    min-width: var(--frame-body-default-width);
}

.skeleton {
    //background-color: rgb(39, 39, 39);//rgb(199, 199, 199);
    margin: 0.75rem 0;
    border-radius: 0.25rem;
}

.non-selectable {
    user-select: none;
}

/*---------------- Display view port  ----------------- */

/*xs*/
@media (min-width: 457px) {
    :root {
        --view-port: 457px;
    }

    .container {
        max-width: 457px;
    }

    .frame-body {
        max-width: calc(457px - 247px);
    }
}

/*sm*/
@media (min-width: 640px) {
    :root {
        --view-port: 640px;
    }

    .container {
        max-width: 640px;
    }

    .frame-body {
        max-width: calc(640px - 247px);
    }
}

/** TODO: fix this make sure it works*/
/*md*/
@media (min-width: 768px) {
    :root {
        --view-port: 768px + 247px;
    }
    
    .container {
        max-width: 768px + 247px;
    }

    .frame-body {
        max-width: calc(768px - 247px);
    } 

    .channel-videos-container {
        grid-template-columns: 1fr 1fr;
    }
}

/*lg*/
@media (min-width: 1024px) {
    :root {
        --view-port: 1024px;
    }

    .container {
        max-width: 1024px;
    }  
    
    .frame-body {
        max-width: calc(1024px - 247px);
    }
    
    .channel-videos-container {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

/*xl*/
@media (min-width: 1270px) {
    //:root {
    //    --frame-body-default-width: 356px;
    //    --frame-body-grow-width: 192px;
    //}
    :root {
        --view-port: 1270px;
    }

    .container {
        max-width: 1270px;
    }

    .frame-body {
        max-width: calc(1270px - 247px);
    }

    .channel-videos-container {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

/*2xl*/
@media (min-width: 1540px) {
    :root {
        --view-port: 1540px;
    }

    .container {
        max-width: 1540px;

    }

    .frame-body {
        max-width: calc(1540px - 247px);
    }
}

/*4xl*/
@media (min-width: 1645px) {
    :root {
        --view-port: 1645px;
    }

    .container {
        max-width: 1645px;
    }

    .frame-body {
        max-width: calc(1645px - 247px);
    }
}

/* mozilla 4xl*/
@media (min-width: 1700px) {
    :root {
        --view-port: 1700px;
        --video-interaction-top: 620px;
    }

    .container {
        max-width: 1700px;
    } 

    .frame-body {
        max-width: calc(1700px - 247px);
    }
    
    //.interactions-container {
    //    --interactions-container-width: 63.5%;
    //}
}

@media (min-width: 1829px) {
    :root {
        --view-port: 1829px;
        --video-interaction-top: 720px;
    }

    .container {
        max-width: 1829px;
    }

    .frame-body {
        max-width: calc(1829px - 247px);
    }    
}

@media (min-width: 1920px) {
    :root {
        --view-port: 1920px;
        --video-interaction-top: 700px;
    }

   .container {
        max-width: 1920px;
    }

    .frame-body {
        max-width: calc(1920px - 247px);
    }    
}

@media (min-width: 2500px) {
    :root {
        --view-port: 2500px;
        --video-interaction-top: 1050px;
    }

    .container {
        max-width: 2500px;
    }

    .frame-body {
        max-width: calc(2500px - 247px);
    }    
}


@media (min-width: 2560px) {
    :root {
        --view-port: 2560px;
        --video-interaction-top: 1050px;
    }

    .container {
        max-width: 2560px;
    }

    .frame-body {
        max-width: calc(2560px - 247px);
    }    
}

/**----------------- mobile sizes -------------------------- */
// small mobile devices
@media (min-width: 320px) {

    .list-container {
        grid-template-columns: 1fr;
    }

    .channel-videos-container {
        grid-template-columns: 1fr;
    }
}
//375px mobile devices, especially for iPhones
@media (min-width: 375px) {

    .video-list-container {
        grid-template-columns: 1fr;
    }

    .channel-videos-container {
        grid-template-columns: 1fr;
    }
}
//480px smaller tablets or larger smartphones in landscape mode
@media (min-width: 480px) {

    .list-container {
        grid-template-columns: 1fr;
    }

    .channel-videos-container {
        grid-template-columns: 1fr;
    }
}
//768px tablets in portrait mode
@media (min-width: 768px) { 

    .video-list-container {
        grid-template-columns: 1fr 1fr;
    }

    .channel-videos-container {
        grid-template-columns: 1fr 1fr;
    }
}
//1024px tablets in landscape mode or small desktop screens
@media (min-width: 1024px) {

    .video-list-container {
        grid-template-columns: 1fr 1fr 1fr;
    }

    .channel-videos-container {
        grid-template-columns: 1fr 1fr;
    }
}

@media (min-width: 1280px) {

    .video-list-container {
        grid-template-columns: 1fr 1fr 1fr;
    }

    .channel-videos-container {
        grid-template-columns: 1fr 1fr 1fr;
    }
}


//1440px larger desktop screens
@media (min-width: 1440px) {

    .video-list-container {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    .channel-videos-container {
        grid-template-columns: 1fr 1fr 1fr;
    }
}


/*2xl*/
@media (min-width: 1600px) {
    .channel-videos-container {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}


//1920px full HD displays
@media (min-width: 1920px) {
    :root {
        --video-list-container-padding-left: 340px;
        --video-list-container-padding-right: 340px;
    }

    .video-list-container {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    }

    .channel-videos-container {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }
}

