<!--<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>[showSearchBar]="false"
</head>
<body>

</body>
</html>-->
<div class="container">
    <app-header></app-header>
    <button class="ytcp-button">button</button>
</div>
<!--<div id="header-banner">
    <button class="ytcp-button">show side nav</button>
    <p>Header/banner</p>
</div>
<div class="container"> -id="main-div"-
    <div id="side-bar">
        right container
        <app-playlist-metadata></app-playlist-metadata>
    </div>
    <div id="body-area"> body</div>
</div>-->