//@import '../../../utils.scss';
//@import '../../../styles.scss';
/*#header-banner {
    //position: fixed;
    //position: sticky;
    //top: 0;
    width: 100%;
    min-height: 70px;
    background-color: aquamarine;
    text-align: center;
    line-height: 60px;
    //margin-bottom: 5px;
    z-index: 1;
}

#main-div {
    //position: fixed;
    //top: 0;
    width: 100%;
    min-height: 100%;
    height: 100%;
    background-color: chocolate;
    padding: 10px;
}

#side-bar {
    width: 400px;
    min-height: 400px;
    height: 100%;
    background-color: goldenrod;
    float: left;
}

#body-area {
    width: 75%;
    min-height: 400px;
    height: 100%;
    background-color: var(--yt-color-theme-dark); //cadetblue;
    float: right;
}*/
.fill-available {   
    position: relative;
    height: calc( 100% - 65px );
    top: 65px;
    transition: 0.5s;
    background-color: orange;
}

.list-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-column: 16px;
    row-gap: 30px;
    margin-top: 15px;
}

.video-list {
    width: 100%;
    border-radius: 5%;
}