<div class="video-elements-container">
    <div class="header-container">
        <h1 class="title">Video elements</h1>
        <p class="subtitle">Use cards and an end screen to show viewers related videos, websites and calls to action.</p>
    </div>
    <div class="cards">
        <div class="card">
            <div class="card-icon">
                <span class="material-symbols-outlined">subtitles</span>
            </div>
            <div class="card-text">
                <p class="text-primary">Add subtitles</p>
                <p class="text-secondary">Reach a broader audience by adding subtitles to your video</p>
            </div>
            <div class="action">
                <p class="action__text">ADD</p>
            </div>
        </div>
    </div>
</div>
