<div *ngIf="!hoverPanel"  class="container panel" [ngStyle]="{'width': collapse? MIN_WIDTH: MAX_WIDTH, 'padding': collapse? '0px':'4px', 'overflow-y': collapse? 'hidden': 'visible'}">
    <div class="panel-section">
        <div (click)="makeButtonActive(buttonOpt)" class="ytcp-button button-rounded-corners" [ngClass]="{'strecth' : !collapse, 'collapse': collapse, 'button-active': buttonOpt.isActive, 'button-innactive': !buttonOpt.isActive}" *ngFor="let buttonOpt of sections[0]">
            <div id="start-icon" [ngStyle]="{'justify-content': collapse? 'center': 'flex-start', 'display': collapse? 'flex':'block'}">
                <img [src]="buttonOpt.icon" [alt]="buttonOpt.text"/>
            </div>
            <div class="desc-text" [ngStyle]="{'justify-content': collapse? 'center': 'flex-start'}">
                <p [ngClass]="{'shrink-desc-text': collapse}">{{buttonOpt.text}}</p>
            </div>
        </div>
    </div>

    <div class="panel-section" *ngIf="!collapse">
        <div (click)="makeButtonActive(buttonOpt)" class="ytcp-button button-rounded-corners strecth" [ngClass]="{'button-active': buttonOpt.isActive, 'button-innactive': !buttonOpt.isActive}" *ngFor="let buttonOpt of sections[1]">
            <div id="start-icon" [ngStyle]="{'justify-content': collapse? 'center': 'flex-start', 'display': collapse? 'flex':'block'}">
                <img [src]="buttonOpt.icon" [alt]="buttonOpt.text"/>
            </div>
            <div class="desc-text" [ngStyle]="{'justify-content': collapse? 'end': 'flex-start'}">
                <p>{{buttonOpt.text}}</p>
            </div>
        </div>
    </div>

    <div class="panel-section" *ngIf="!collapse">
        <h3>Subscriptions</h3>
        <div (click)="makeButtonActive(buttonOpt)" class="ytcp-button button-rounded-corners strecth" [ngStyle]="{'height':'50px', 'padding': '10px'}" [ngClass]="{'button-active': buttonOpt.isActive, 'button-innactive': !buttonOpt.isActive}" *ngFor="let buttonOpt of sections[2]">
            <div id="start-icon" [ngStyle]="{'justify-content': collapse? 'center': 'flex-start', 'display': collapse? 'flex':'block'}">
                <img class="user-icon" [src]="buttonOpt.channel_user_icon" [alt]="buttonOpt.text"/>
            </div>
            <div class="desc-text hide-overflow" [ngStyle]="{'justify-content': collapse? 'end': 'flex-start'}">
                <p class="hide-overflow">{{buttonOpt.text}}</p>
            </div>
            <div class="radio-wave">
                <img [src]="buttonOpt.icon_right" [alt]="buttonOpt.text"/>
            </div>
        </div>
    </div>
</div>

<!-- Hoverable side panel -->
<div *ngIf="hoverPanel" class="hoverable-panel" [ngClass]="{'activate': !collapse}">
    <div class="panel-section">
        <div (click)="makeButtonActive(buttonOpt)" class="ytcp-button button-rounded-corners" [ngClass]="{'strecth' : !collapse, 'collapse': collapse, 'button-active': buttonOpt.isActive, 'button-innactive': !buttonOpt.isActive}" *ngFor="let buttonOpt of sections[0]">
            <div id="start-icon" [ngStyle]="{'justify-content': collapse? 'center': 'flex-start', 'display': collapse? 'flex':'block'}">
                <img [src]="buttonOpt.icon" [alt]="buttonOpt.text"/>
            </div>
            <div class="desc-text" [ngStyle]="{'justify-content': collapse? 'center': 'flex-start'}">
                <p [ngClass]="{'shrink-desc-text': collapse}">{{buttonOpt.text}}</p>
            </div>
        </div>
    </div>

    <div class="panel-section" *ngIf="!collapse">
        <div (click)="makeButtonActive(buttonOpt)" class="ytcp-button button-rounded-corners strecth" [ngClass]="{'button-active': buttonOpt.isActive, 'button-innactive': !buttonOpt.isActive}" *ngFor="let buttonOpt of sections[1]">
            <div id="start-icon" [ngStyle]="{'justify-content': collapse? 'center': 'flex-start', 'display': collapse? 'flex':'block'}">
                <img [src]="buttonOpt.icon" [alt]="buttonOpt.text"/>
            </div>
            <div class="desc-text" [ngStyle]="{'justify-content': collapse? 'end': 'flex-start'}">
                <p>{{buttonOpt.text}}</p>
            </div>
        </div>
    </div>

    <div class="panel-section" *ngIf="!collapse">
        <h3>Subscriptions</h3>
        <div (click)="makeButtonActive(buttonOpt)" class="ytcp-button button-rounded-corners strecth" [ngStyle]="{'height':'50px', 'padding': '10px'}" [ngClass]="{'button-active': buttonOpt.isActive, 'button-innactive': !buttonOpt.isActive}" *ngFor="let buttonOpt of sections[2]">
            <div id="start-icon" [ngStyle]="{'justify-content': collapse? 'center': 'flex-start', 'display': collapse? 'flex':'block'}">
                <img class="user-icon" [src]="buttonOpt.channel_user_icon" [alt]="buttonOpt.text"/>
            </div>
            <div class="desc-text hide-overflow" [ngStyle]="{'justify-content': collapse? 'end': 'flex-start'}">
                <p class="hide-overflow">{{buttonOpt.text}}</p>
            </div>
            <div class="radio-wave">
                <img [src]="buttonOpt.icon_right" [alt]="buttonOpt.text"/>
            </div>
        </div>
    </div>
</div>
