
.panel {
    width: var(--yt-drawer-width);
    height: calc( 100% - 65px );
    top: 65px;
    position: fixed; /* Stay in place */
    overflow-x: hidden;
    padding: 4px;
}

.panel-section:not(:last-child) {
    border-bottom: 1px solid var(--yt-spec-divider);
}

.panel-section {
    display: block;
    height: fit-content;
    padding: 0.5rem;
}

.button-rounded-corners {
    border-radius: 10px;
    width: 100%;
}

.button-active {
    background-color: var(--yt-color-active-btn-light);
}

.button-innactive {
    background-color: inherit;
}

.strecth {
    display: flex;
    height: 100%; 
    row-gap: 100px; 
}

.collapse {
    padding: 2px;
    overflow-y: hidden;
}

#start-icon {
    padding-top: 4px;
    padding-bottom: 4px;
    margin-right: 12%;
    justify-content: flex-start;
}

.desc-text {
    padding-top: 8px;
    display: flex;
    width: 80%;
    justify-content: flex-start;
}

.shrink-desc-text {
    font-size: 0.6rem;
}

.hide-text {
    display: none;
}

h3 {
    color: var(--yt-spec-text-primary);
}

.button-rounded-corners:hover {
    background-color: var(--yt-color-innactive-button-hover);//rgba(39, 39, 39, 1);
}

.hide-overflow {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.radio-wave {
    padding-top: 8px;
}

/** Hover side panel */
.hoverable-panel {
    width: var(--yt-drawer-width);
    height: calc( 100% - 65px );
    top: 65px;
    position: absolute;
    z-index: 1000;    
    background-color: var(--yt-color-theme-dark);
    transition: transform 0.5s ease-in-out;
    transform: translateX(-120%); /* Initial position */
    overflow-y: scroll;
}

.activate {
    transform: translateX(0); /* Change the value to control the distance */
}

/*
add media query
*/

//@media (max-width: 1312px) {
//    .panel {
//        width: var(--yt-mini-drawer-width);
//    }
//}