<ng-container *ngIf="data$ | async as stateData">
    <div class="login-container">
        <form [formGroup]="resetFormGroup" (ngSubmit)="onSubmit()">
            <div class="auth-form-container">
                <h1 class="title">Reset Password</h1>
                <div class="username-container" *ngIf="!stateData.isResetEmailSent || !(stateData.isPasswordLinkValid)">
                    <div class="title-container">
                        <p>Email</p>
                    </div>
                    <div class="username-text-container">
                        <input type="text" placeholder="email" id="email" formControlName="email" autocomplete="off"/>
                    </div>
                </div>
                <div class="password-container" *ngIf="isResetEmailSent && (stateData.isPasswordLinkValid)">
                    <div class="title-container">
                        <p>Password</p>
                    </div>
                    <div class="password-text-container inner-icon">
                        <input class="password-input" #passwordInput placeholder="password" type="password" id="password" formControlName="password"/>
                        <span class="material-symbols-outlined non-selectable" *ngIf="!showPassword" (click)="togglePasswordVisibility(passwordInput)">visibility_off</span>
                        <span class="material-symbols-outlined non-selectable" *ngIf="showPassword" (click)="togglePasswordVisibility(passwordInput)">visibility</span>
                    </div>
                </div>
                <div class="password-container" *ngIf="stateData.isResetEmailSent && (stateData.isPasswordLinkValid)">
                    <div class="title-container">
                        <p>Confirm Password</p>
                    </div>
                    <div class="password-text-container inner-icon">
                        <input class="password-input" #passwordInput placeholder="confirm password" type="confirmPassword" id="confirmPassword" formControlName="confirmPassword"/>
                        <span class="material-symbols-outlined non-selectable" *ngIf="!showPassword" (click)="togglePasswordVisibility(passwordInput)">visibility_off</span>
                        <span class="material-symbols-outlined non-selectable" *ngIf="showPassword" (click)="togglePasswordVisibility(passwordInput)">visibility</span>
                    </div>
                </div><!--(isResetEmailSent$ | async) && -->

                <!--stateData.isResetEmailSent && -->
                <div class="email-reset-message-container" *ngIf="stateData.validationMessages?.message as message">
                    <p class="text-secondary message">{{message}}</p>
                </div> <!--(!(isResetEmailSent$ | async) || !(isPasswordLinkValid)) && (!stateData.isResetEmailSent || !(isPasswordLinkValid)) s-->
                
                <!--(!stateData.isResetEmailSent || !(stateData.isPasswordLinkValid)) && -->
                <div class="email-reset-message-container" *ngIf="stateData.validationErrors?.reason as reason">
                    <p class="text-secondary error-messages">&bull; {{reason}}</p>
                </div>
                <div class="submit-btn-container">
                    <button *ngIf="!isPasswordLinkValid" type="submit" class="submit-btn" [disabled]="(resetFormGroup.invalid)">Send Reset Link</button>
                    <button *ngIf="isPasswordLinkValid" type="submit" class="submit-btn" [disabled]="(resetFormGroup.invalid)">Reset Password</button>
                </div>
                <div class="actions">
                    <div class="login-link">
                        <span class="text-secondary">Back to</span>&nbsp;&nbsp;
                        <a routerLink="/login" class="text-primary">Sign in</a> 
                    </div>
                </div>
            </div>
        </form>
    </div>
</ng-container>