.thumbnail-container {
    height: 180px;
    position: relative;
    margin-bottom: 20px;
}

.thumbnail {
    /* Set the dimensions of the container */
    height: 180px;
    width: 100%;
    margin-bottom: 14px;
    /* Center the image inside the container */
    border-radius: 14px;
}

.thumbnail-transition {
    display: flex;
    position: absolute;
    top: 0;
    opacity: 0;
    transition: opacity 0.4s ease-in;
    align-items: center;
    justify-content: center;
    background-color: black;
}

.thumbnail-transition:hover {
    opacity: 0.8;
}
  
.playlist-metadata-container {
    display: block;
    height: 100%;
    //width: 22%;
    width: 100%;
    max-width: 400px;
    //width: 30%;
    border-radius: 10px;
    padding: 20px;
}

.playlist-name {
    height: 60px;
    display: flex;
    width: 100%;
    margin-bottom: 25px;
}

.title {
    width: 90%;
}

.text {
    display: flex;
    justify-content: flex-start;
}

.icon-container {
    display: flex;
    padding-top: 5px;
    height: 60%;
}

.icon-container:hover {
    background-color: #b3b3b390;
}

.no-emphasis {
    font-weight: 0;
}

.icon {
    padding-top: 4px;
    height: 22px;
    display: flex;
    justify-content: flex-end;
}

.visibility {
    display: flex;
    height: 30px;
}

.visibility > * {
    margin-right: 10px;
}

.user-name {
    height: 20px;
    margin-bottom: 8px;
}

.metadata {
    font-size: 0.8rem;
    line-height: 1.8rem;
    font-weight: 400;
    white-space: normal;
}

.metadata-text {
    height: 30px;
}

.config-playlist {
    height: 40px;
    margin-bottom: 20px;
}

.config-playlist:hover {
    background-color: #b3b3b390;
}

.play-shuffle-buttons-container {
    height: 40px;  
    display: flex;
    justify-content: space-between; 
    margin-bottom: 20px; 
}

.play-btn {
    width: 46%;
    margin-right: 10px;
    border-radius: 25px;
    background-color: var(--yt-color-active-btn-dark);
    justify-content: center;
}

.play-btn:hover {
    background-color: #b3b3b380;
}

.content-alignment {
    display: inline-flex;
}

.btn-text-dark {
    color: black;
    //width: 75%;
}

.shuffle-btn {
    width: 46%;
    float: right;
    border-radius: 25px;
    background-color: #b3b3b390;
    justify-content: center;
}

#save-edit:hover,
#cancel-edit:hover,
.shuffle-btn:hover {
    background-color: #b3b3b370;
}


#save-edit,
#cancel-edit {
    border-radius: 25px;
    background-color: #b3b3b390;
}

#save-edit {
    margin-right: 4px;
}

.edit-button-container {
    height: 30px;
    display: flex;
    //justify-items: right;
    justify-content: flex-end;
}

input[type='text'] {
    outline: none;
    border: none;
    border-color: none;
    height: 50px;
    font-size: 2.5rem;
    width: 100%;
    margin-bottom: 12px;
}

/*.desc-input .input-aligner {
    height: 30px;
    font-size: 0.8rem; 
}*/

.text-input {
    height: fit-content;
    margin-bottom: 6px;
    //border-bottom: 2px solid red;
}

.char-count {
    display: flex;
    height: fit-content;
    font-size: 0.8rem;
    justify-content: flex-end;
    margin-bottom: 6px;
}

.char-count-desc {
    font-size: 1rem;   
}
//input[type='text'] {
//}

.edit-options {
    position: absolute;
    top: 0;
    display: inline-block;
    height: 40px;
    margin-bottom: 20px;
}

/* ANIMATION FIX THIS */
.underline-animation {
    display: inline-block;
    position: relative;
    //color: var(--yt-spec-text-primary);
}
  
.underline-animation::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: var(--yt-spec-text-primary);
    transform-origin: center; 
    transition: transform 0.55s ease-out;
}
  
.underline-animation:hover::after {
    transform: scaleX(1);
    transform-origin: center;
}
//================

