<div class="upload-video-details-container">
  <div class="left-video-detail-container">
        <!-- Text details -->
        <div class="video-text-details">
          <h1>Details</h1>  
          <nz-input-group [nzSuffix]="inputClearTpl">
            <input type="text" nz-input [ngModel]="getTitleValue()" (ngModelChange)="setTitleValue($event)" placeholder="input with clear icon" />
          </nz-input-group>
          <ng-template #inputClearTpl>
            <span
              nz-icon
              class="ant-input-clear-icon"
              nzTheme="fill"
              nzType="close-circle"
              *ngIf="getTitleValue()"
              (click)="setTitleValue(null)"
            ></span>
          </ng-template>
          <br />
          <br />
          <nz-input-group [nzSuffix]="textAreaClearTpl" class="ant-input-affix-wrapper-textarea-with-clear-btn">
            <textarea nz-input [(ngModel)]="textValue" placeholder="Tell viewers about your video (type @ to mention a channel)"></textarea>
          </nz-input-group>
          <ng-template #textAreaClearTpl>
            <span
              nz-icon
              class="ant-input-clear-icon"
              nzTheme="fill"
              nzType="close-circle"
              *ngIf="textValue"
              (click)="textValue = null"
            ></span>
          </ng-template>
        </div>
        <!-- images-thumbnails -->
        <div class="metadata-images-thumbnails">
          <h2>Thumbnail</h2>
          <p>
            Select or upload a picture that shows what's in your video. A good thumbnail stands out and draws viewers' attention. 
            <a target="_blank" href="https://support.google.com/youtube/answer/72431?hl=en-GB">Learn more</a>
          </p>
          <div nz-row [nzGutter]="[hGutter, vGutter]">
            <div nz-col class="gutter-row" [nzSpan]="24 / count" *ngFor="let i of array">
              <div class="grid-config">
                <img nz-image width="100%" height="100%" nzSrc="../../../assets/goku.jpg" [nzFallback]="fallback" alt="" />
              </div>
            </div>
          </div>
        </div>
        <h2>Playlists</h2>
  </div>
  <div class="right-video-detail-container">
      <p>right content</p>
  </div>
</div>
