<div class="upload-video-details-container">
  <div class="left-video-detail-container">
    <!--text containers -->
    <div class="text-details-container">
      <h2 class="text-primary margin-bottom-header">Details</h2>
      <div class="title-container">
        <div class="input-container__title_container">
          <div class="header-text-container">
            <h4 class="header-text-title">Title (required) </h4>
            <span class="material-symbols-outlined in-circle">help</span>
          </div>
          <textarea (ngModelChange)="onMetadataUpdated(); onVideoTitleChanged()" [(ngModel)]="video.title" name="text" wrap="soft" 
            maxlength="100" required placeholder="Add a title that describes your video (type @ to mention a channel)">
          </textarea>
        </div>
        <div class="char-count-title">{{video.title.length}}/{{MAX_TITLE_COUNT}}</div>
      </div>
      <div class="description-container">
        <div class="input-container__description_container">
          <div class="header-text-container">
            <h4 class="header-text-desc">Description</h4>
            <span class="material-symbols-outlined in-circle">help</span>
          </div>
          <textarea #descriptionTextArea [innerHTML]="video.description" 
                    [(ngModel)]="video.description"
                    (ngModelChange)="onMetadataUpdated()" 
                    (keyup)="handleKeyUpDescription($event)" 
                    name="description" placeholder="Tell Viewers about your video (type @ to mention a channel)" 
                    wrap="soft" maxlength="5000"
                    (keydown.enter)="onEnterKeyPressedDescrpt($event); onMetadataUpdated()"></textarea>
        </div>
        <div class="char-count-desc">{{video.description?.length}}/{{MAX_DESCRIPTION_COUNT}}</div>
      </div>
    </div>
    <!--thumbnail-->
    <div class="thumbnail-container">
      <h4 class="margin-bottom-header">Thumbnail</h4>
      <p class="text-secondary small-text">
        Select or upload a picture that shows what's in your video. A good thumbnail stands out and draws viewers' attention. 
        <a target="_blank" href="https://support.google.com/youtube/answer/72431?hl=en-GB">Learn more</a>
      </p>
      <div class="thumbnail-grid-container">
        <div (click)="toggleActiveThumbnail(thumbnail)" class="thumbnail-preview" [ngClass]="{'active-thumbnail': thumbnail.isActive}" *ngFor="let thumbnail of thumbnails">
          <img [src]="thumbnail.thumbnailUrl" alt="">
        </div>
      </div>
    </div>
    <!-- playlist -->
    <div class="playlist-container">
      <h4 class="margin-bottom-header">Playlists</h4>
      <p class="text-secondary small-text">
        Add your video to one or more playlists. Playlists can help viewers to discover your content faster. 
        <a target="_blank" href="https://support.google.com/youtube/answer/57792">Learn more</a>
      </p>
      <div class="playlist-dropdown-container">
        <app-drop-down 
          [showDropdown]="true" 
          [playlists]="playlists" 
          (selectedPlaylistEmit)="selectedPlaylists($event)"
          (createPlaylistEvent)="showCreatePlaylistModal($event)">
        </app-drop-down>
      </div>
    </div>

    <!-- tags -->
    <div class="tags-container">
      <h4 class="margin-bottom-header">Tags</h4>
      <p class="text-secondary small-text">
        Tags can be useful if content in your video is commonly misspelt. Otherwise, tags play a minimal role in helping viewers to find your video. 
        <a target="_blank" href="https://support.google.com/youtube/answer/57792">Learn more</a>
      </p>
      <div class="tags-item-container">
        <app-chips
          [chips]="video.tags!"
          (chipsUpdated)="chipsUpdated($event)"></app-chips>
      </div>
    </div>

    <!-- Category "selectedPlaylists($event)"-->
    <div class="categories-container">
      <h4 class="margin-bottom-header">Categories</h4>
      <p class="text-secondary small-text">
        Add your video to a category so that viewers can find it more easily
      </p>
      <div class="tags-item-container">
        <app-drop-down 
          [showDropdown]="true"
          [searchable]="false"
          [hasFooter]="false"
          [multiSelect]="false"
          [playlists]="categories" 
          (selectedPlaylistEmit)="selectedCategories($event)"
          (createPlaylistEvent)="showCreatePlaylistModal($event)">
        </app-drop-down>      
      </div>
    </div>

  </div>
  <div class="right-video-detail-container">
    <div class="image-container">
      <app-video-card-basic 
        [video]="video"
        [size]="'small'">
      </app-video-card-basic>
      <!--<img class="large-thumbnail" [src]="largeThumbnailURL">-->
    </div>
    <div class="metadata-container">
      <div class="metadata-container__link-container">
        <div class="miniplayer-video-url-container">
          <p class="text-secondary right-image-text">Video link</p>
          <p class="video-url">{{videoURL}}</p>
        </div>
        <div class="clipboard-icon">
          <span class="material-symbols-outlined non-selectable" (click)="onCopyToClipboard()">content_copy</span>
        </div>
      </div>
      <div class="metadata-container__filename-container">
        <p class="text-secondary right-image-text">Filename</p>
        <p class="text-primary video-file-name">{{videoFileName}}</p>
      </div>
    </div>
  </div>
</div>

<!-- new playlist modal 
  [modalWidth]="'50%'"
  [modalHeight]="'80%'"
  [color]="'rgba(64, 64, 64, 0.4)'"
  [top]="'250px'"
  [left]="'550px'"-->
<app-modal
  [show]="isNewPlaylist"
  [color]="'rgba(40, 40, 40, 1)'"
  [top]="'0'"
  [left]="'0'"
  [modalWidth]="'490px'"
  [modalHeight]="'600px'"
  [bodyHeight]="'fit-content'"
  [zIndex]="'4'"
  [headerTemplate]="header"
  [bodyTemplate]="body"
  [footerTemplate]="footer"
  (isShowUpdateEvent)="newPlaylistShowUpdated($event)">
</app-modal>

<ng-template #header>
    <h2 class="text-primary">Create a new playlist</h2>
</ng-template>

<ng-template #body>
  <div class="body-container">
    <div class="np-title-container">
      <div class="input-container__np_title_container">
        <div class="header-text-container">
          <h4 class="header-text-title">Title (required) </h4>
        </div>
        <textarea [(ngModel)]="newPlaylistTitle" name="text" wrap="soft" maxlength="150" required placeholder="Add title"></textarea>
      </div>
      <div class="char-count-title">{{newPlaylistTitle.length}}/{{MAX_DESCRIPTION_COUNT}}</div>
    </div>
    <div class="np-description-container">
      <div class="input-container__np_description_container">
        <div class="header-text-container">
          <h4 class="header-text-desc">Description</h4>
        </div>
        <textarea [(ngModel)]="newPlaylistDescription" name="text" wrap="soft" maxlength="5000" required placeholder="Add description"></textarea>
      </div>
      <div class="char-count-desc">{{newPlaylistDescription.length}}/{{MAX_DESCRIPTION_COUNT}}</div>
    </div>
    <div class="visibility-container">
      <app-drop-down
      [showDropdown]="true"
      [searchable]="false"
      [hasFooter]="false"
      [multiSelect]="false"
      [playlists]="visibility" 
      (selectedPlaylistEmit)="selectedPlaylists($event)"
      (createPlaylistEvent)="showCreatePlaylistModal($event)">
      </app-drop-down>
    </div>
  </div>
</ng-template>

<ng-template #footer>
  <div class="footer-container">
    <div (click)="cancel()" class="cancel__footer_container">
      <h3>CANCEL</h3>
    </div>
    <div (click)="createPlaylist()" class="create__footer_container">
      <h3>CREATE</h3>
    </div>
  </div>
</ng-template>
