.upload-video-details-container{
    height: 100%;
    display: -webkit-flex;
    display: flex;
    justify-content: space-between;
    padding: 14px;
}

.left-video-detail-container{
    margin-right: auto;
    display: -webkit-flex;
    display: inline-flex;
    flex-direction: column;
    //align-self: flex-start;
    background-color: rgba(255, 255, 255, 0.8);
    width: 65%;
    //height:100%;
}

.right-video-detail-container{
    display: -webkit-flex;
    display: inline-flex;
    flex-direction: column;
    //align-items: flex-end;       /* right-align the image */
    background-color: aqua;
    width: 34%;
    position: -webkit-sticky; /* for Safari */
    position: sticky;
    //align-self: flex-start;
    top: 0;
    overflow-y: auto;
    height:50%;
}

.video-text-details {
    padding-bottom: 18px;
}

.metadata-images-thumbnails {
    padding-bottom: 18px;
}

.metadata-select-playlist {
    padding-bottom: 18px;
}

.extra-metadata-container {
    padding-bottom: 18px;
}

.extra-metadata-button {
    padding-bottom: 12px;
}

.extra-metadata {
    padding-bottom: 12px;
}

.metadata-labels {
    padding-top: 12px;
    padding-bottom: 12px;
}

//
h1 {
    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    padding-bottom: 8px;
}

.text-header {
    font-weight: 500;
    font-size: 15px;
    line-height: 24px;
    font-weight: bold;
    padding-bottom: 8px;
}

.text-description {
    //letter-spacing: 0.011em;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: var(--ytcp-text-secondary);
    padding-bottom: 8px;
}

.thumbnail-grid-config {
    height: 80px;
    background: #0092ff;
    border-radius: 4px;
}

.thumbnail-gutter-row {
    background-color: aqua;
}

.title-indicator {
    font-family: "Roboto","Noto",sans-serif;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    letter-spacing: 0.011em;
    font-size: 12px;
    line-height: 16px;
} 

.model-content {
    font-family: "Roboto","Noto",sans-serif;
    width: auto;
    display: block;
    height: 450px;
}

.create-new-playlist-content {
    margin-bottom: 4px;
    padding: 4px;
    //display: flex;
    width: 100%;
}

.create-new-playlist-container {
    display: inline-flex;
    position: absolute;
    width: 100%;
}

/*
*
*================================================================
*
*/
textarea, input {
    border: none; /* Remove border from the input */
    outline: none; /* Remove outline when clicked */
    padding: 5px; /* Add padding to the input */
    border-radius: 4px;
    margin-top: 4px;
    margin-bottom: 4px;
}

input[type='text'] {
    width: 100%;
}

.container {
    border: 3px solid #717171;
    border-radius: 10px;
    margin-bottom: 12px;
}
.container:hover {
    border: 3px solid #b6b6b6
}
.container:focus-within {
    border-color: #3ea6ff;
    transition: all 0.02s ease; /* Add transition for highlight*/
}

///
